<ion-header>
  <ion-toolbar color="blue" class="ion-text-center">
    <ion-col slot="start">
      <ion-buttons>
        <ion-back-button color="blanco" defaultHref="/" text=""></ion-back-button>
      </ion-buttons>
    </ion-col>
    <ion-col>
      <img routerLink="/inicio" style="height: 55px;padding: 3px;" src="assets/logo.svg" alt="logo">
    </ion-col>
    <ion-col slot="end"></ion-col>
  </ion-toolbar>
</ion-header>

<ion-content>
  <layer></layer>
  <ion-card style="background-color: white;" class="animated fadeIn slow">
    <ion-card-header style="padding: 0px !important; padding-bottom: 15px !important;">
      <ion-row style="height: 50px !important; padding-top: 12px !important;">
        <ion-col class="ion-text-center">
          <ion-label style="font-size:20px;" color="blue">Creación de Pedido</ion-label>
          <div *ngIf="pedidoEnCurso" style="position: absolute;right: 0px;top: 4px;">
            <ion-button size="small" fill="clear" (click)="AlertaCancelarPedido()" color="red" style="font-size: 9px;">Cancelar</ion-button>
          </div>
        </ion-col>
        <ion-item-divider></ion-item-divider>
      </ion-row>
    </ion-card-header>
    <ion-card-content>
      <ion-row>
        <ion-col size="12">
          <div class="inputs">
            <ion-input *ngIf="cliente == null" class="input_" type="text" placeholder="Busca a un cliente"
              (ionChange)="ObtenerCoincidenciasClientes()" debounce="500" [(ngModel)]="txtBusqueda">
            </ion-input>
            <button *ngIf="cliente == null" class="usericonbox" (click)="ObtenerCoincidenciasClientes()">
              <ion-icon name="search"></ion-icon>
            </button>
            <ion-input [disabled]="true" *ngIf="cliente != null" class="input_ disabled" type="text"
              placeholder="Nombre" value="{{cliente.nombres}}"></ion-input>
          </div>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="this.mostrarloading">
        <ion-col>
          <ion-progress-bar type="indeterminate" reversed="true" color="blue"></ion-progress-bar>
        </ion-col>
      </ion-row>
      <ion-card *ngIf="clientes.length > 0" style="margin-top: 0px;">
        <ion-card-header style="padding: 0px !important; padding-bottom: 15px !important;">
          <ion-row>
            <ion-col class="ion-text-center">
              <ion-label style="font-size:16px;" color="blue">Selecciona un cliente</ion-label>
            </ion-col>
            <ion-item-divider></ion-item-divider>
          </ion-row>
        </ion-card-header>
        <ion-list lines="full"
          style=" height:100% !important; padding: 0px !important;margin: 0px !important; width: 100% !important; ">
          <ion-item button detail="true" lines="none" mode="md" class="item-ripple" *ngFor="let item of this.clientes;"
            (click)="OnSeleccionCliente(item)">
            <ion-label class="ion-text-wrap">
              <ion-text color="#222">
                <h4>{{item.nombre}}</h4>
              </ion-text>
              <p>{{item.email}}</p>
              <ion-text color="green">
                <p>{{item.telefono}}</p>
              </ion-text>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-card>
      <ion-row *ngIf="cliente != null">
        <ion-col size="12">
          <div class="inputs">
            <ion-input [disabled]="true" class="input_ disabled" type="text" placeholder="E-mail"
              value="{{cliente.correo}}"></ion-input>
          </div>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="cliente != null">
        <ion-col size="12">
          <div class="inputs">
            <ion-input [disabled]="true" class="input_ disabled" type="text" placeholder="Telefono"
              value="{{cliente.telefono}}"></ion-input>
          </div>
        </ion-col>
      </ion-row>

      <div>
        <ion-grid>
          <ion-item button detail="true" lines="none" mode="md" class="item-ripple" disabled="{{!pedidoEnCurso}}"
            (click)="GoBusquedaDireccion()" *ngIf="cliente != null">
            <ion-label class="ion-text-wrap">
              <ion-text>
                <strong>
                  <h3>Dirección: </h3>
                </strong>
              </ion-text>
              <p *ngIf="direccion==null">Buscar dirección</p>
              <div *ngIf="direccion!=null">
                <p style="font-size: 12px !important; color: #222;">
                  {{direccion.calle}} # {{direccion.noExterior}}&nbsp;{{direccion.colonia}}
                </p>
                <p style="font-size: 12px !important; color: #222;">
                  {{direccion.municipio}}&nbsp;{{direccion.estado}},{{direccion.pais}}
                </p>
                <p style="font-size: 12px !important; color: #222;">
                  <strong>Código Postal: </strong> {{direccion.codigoPostal}}
                </p>
                <p style="font-size: 12px !important; color: #222;">
                  <strong>Teléfono de contacto: </strong> <label style="color: #A6C038">{{direccion.telefonoContacto}}
                  </label>
                </p>
              </div>
            </ion-label>
          </ion-item>
        </ion-grid>
      </div>

      <div *ngIf="productos != null">
        <div
          style="padding-top: 8px !important; padding-left: 8px !important; padding-right: 8px !important; padding-bottom: 0px !important;">
          <ion-row>
            <ion-col size="9" class="ion-text-left">
              <ion-label style="color: #222 !important; font-size: 12px !important;">
                Productos:
              </ion-label>
            </ion-col>
            <ion-col class="ion-text-left" style="padding-left: 0px !important;">
              <ion-label style="color: #222 !important; font-size: 12px !important;">
                Cantidad:
              </ion-label>
            </ion-col>
          </ion-row>

          <ion-row *ngFor="let item of productos">
            <ion-col size="2">
              <img style="height: 40px !important; width: 40px !important; border-radius: 3px !important;"
                src="{{item.imagen_producto}}" alt="">
            </ion-col>
            <ion-col size="7">
              <ion-label style="color: #222 !important; font-size: 12px !important;">
                {{item.nombre_producto}}
              </ion-label>
            </ion-col>
            <ion-col size="2" style="padding-left: 0px !important;">
              <!--<ion-label color="green" style="font-size: 12px !important;">
                {{item.cantidad}}
              </ion-label>-->
              <ion-select [(ngModel)]="item.cantidad" (ionChange)="CambiarCantidadPiezasProducto(item)"
                placeholder="{{item.cantidad}} Unidades" cancelText="Cerrar" okText="Cambiar cantidad"
                style="border-radius: 3px !important;padding: 3px !important; border:none; border: 1px solid gray; text-align: center;">
                <ion-select-option *ngFor="let item of [1,2,3,4,5,6,7,8,9,10]; let i = index;" value="{{i+1}}">
                  <p>{{i+1}}</p>
                </ion-select-option>
                <!-- <ion-select-option *ngIf="item.cantidad == 1" value="{{item.cantidad}}">{{item.cantidad}} Unidad</ion-select-option>
                    <ion-select-option *ngIf="item.cantidad > 1" value="{{item.cantidad}}">{{item.cantidad}} Unidades</ion-select-option> -->
              </ion-select>
            </ion-col>
            <ion-col size="1">
              <button ion-button icon-only
                style="background: none !important; width: 100% !important; color: red; font-size: 18px !important;"
                (click)="AlertaEliminarProducto(item)">
                <ion-icon style="display: inherit;
                position: relative;
                vertical-align: middle;" name="trash"></ion-icon>
              </button>
            </ion-col>
          </ion-row>
        </div>

        <ion-item-divider></ion-item-divider>

        <ion-row>
          <ion-col class="ion-text-center">
            <ion-label color="blue" style="font-size: 18px !important;">
              <strong>TOTAL DEL PEDIDO</strong>
            </ion-label>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12" class="ion-text-center">
            <ion-label color="green" style="font-size: 18px !important;">
              <strong>$ {{this.costoTotal}} USD</strong>
            </ion-label>
          </ion-col>
          <ion-col class="ion-text-center" style="margin-top: -10px !important;">
            <ion-label style="font-size: 12px !important; color: #8F8F8F !important;">
              <strong>$ {{this.costoTotalPesos}} MX</strong>
            </ion-label>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col class="ion-text-center">
            <ion-button style="text-transform: none" expand="block" color="blue" (click)="OnRelizarPedido()">
              <h2 style="color: #fff;">REALIZAR PEDIDO</h2>
            </ion-button>
          </ion-col>
        </ion-row>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card color="gray" style="box-shadow: 2px 2px 10px #222;width: 80%;margin: auto;margin-top: 30px;" 
  *ngIf="pedidoEnCurso && productos == null"
  class="animated indetermina infinite pulse slow">
    <ion-card-content class="ion-text-center">
      <ion-label color="blanco" style="font-size: 12px;">
        ¡Presiona el botón flotante para ingresar productos a la lista y crear tu pedido!
      </ion-label>
    </ion-card-content>
  </ion-card>

  <ion-fab *ngIf="pedidoEnCurso" vertical="bottom" horizontal="end" slot="fixed" (click)="GoDepartamentos()">
    <ion-fab-button color="green">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>