ion-item-divider{
    margin-top: 0px;
    min-height: 1px !important;
}

.inputs {
    position: relative;
    text-align: center;
    height: 35px;
}
.usericonbox {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 30px;
    height: 100%;
    background-color: var(--ion-color-green);
    border-radius: 3px;
    z-index: 10;
    color: #fff;
    font-size: 18px;
}
.input_ {
    display: inline-block;
    height: 100%;
    text-align: left;
    padding-top: 3px !important;
    border-radius: 3px !important;
    box-shadow: -3px 1px 5px #00000030;
    border: 0.5px solid #EBEBEB;
    font-size: 0.8em;
    padding-right: 35px !important;
}

.disabled{
    background-color: #EBEBEB;
    color: #222;
}