<ion-header>
  <ion-toolbar color="blue" class="ion-text-center">
    <ion-col slot="start">
      <ion-buttons>
        <ion-back-button color="blanco" defaultHref="/" text=""></ion-back-button>
      </ion-buttons>
    </ion-col>
    <ion-col>
      <img routerLink="/inicio" style="height: 55px;padding: 3px;" src="assets/logo.svg" alt="logo">
    </ion-col>
    <ion-col slot="end"></ion-col>
  </ion-toolbar>
</ion-header>

<ion-content>
  <layer></layer>
  <ion-card style="background-color: white;" *ngIf="mascotas != null">
    <ion-card-header style="padding: 0px !important; padding-bottom: 15px !important;">
      <ion-row style="height: 50px !important; padding-top: 12px !important;">
        <ion-col class="ion-text-center">
          <ion-label style="font-size:20px;" color="blue">Seleccionar mascota</ion-label>
        </ion-col>
        <ion-item-divider></ion-item-divider>
      </ion-row>
    </ion-card-header>

    <ion-card-content>
      <ion-grid>
        <div style="background-color: white;border:none; border: 3px dashed gray;border-radius: 3px;">
          <ion-row>
            <ion-col class="ion-text-center">
              <ion-button style="color: #ececec !important;" fill="clear" (click)="GoNuevaMascotaPickPack()">
                <ion-icon style="font-size: 50px;" name="add"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="ion-text-center">
              <ion-button fill="clear" (click)="GoNuevaMascotaPickPack()">
                <h2><strong>Agregar mascota</strong></h2>
              </ion-button>
            </ion-col>
          </ion-row>
        </div>
        <ion-item class="direccion-item" button detail="true" mode="md" class="item-ripple animated fadeInUp"
          *ngFor="let mascota of mascotas" (click)="ActualizarMascotaPickPackCliente(mascota.idMascota)">
          <ion-label class="ion-text-wrap">
            <div *ngIf="mascota!=null">
              <p style="font-size: 12px !important; color: #222;">
                <strong>Nombre: </strong> {{mascota.nombre}}
              </p>
              <p style="font-size: 12px !important; color: #222;">
                <strong>Raza: </strong> <label style="color: #A6C038">{{mascota.raza}} </label>
              </p>
              <p style="font-size: 12px !important; color: #222;">
                <strong>Tipo de mascota: </strong> {{mascota.tipoMascota}}
              </p>
            </div>
          </ion-label>
        </ion-item>
      </ion-grid>



    </ion-card-content>
  </ion-card>


</ion-content>