<ion-header>
  <ion-toolbar color="blue" class="ion-text-center">
    <ion-col slot="start">
    </ion-col>
    <ion-col>
      <img routerLink="/inicio" style="height: 55px;padding: 3px;" src="assets/logo.svg" alt="logo">
    </ion-col>
    <ion-col slot="end"></ion-col>
  </ion-toolbar>
</ion-header>

<ion-content>
  <layer></layer>
  <ion-card style="background-color: white;" *ngIf="this.utils.usuario !=null" >
    <ion-card-header style=" margin: 0px !important; padding: 0px !important; ">
      <ion-row>
        <ion-col class="ion-text-center" style="padding: 10px !important;">
          <ion-label style="color: #222; font-size: 18px !important;">
            Menú
          </ion-label>
        </ion-col>
      </ion-row>
      <div style="float: right;margin-top: -28px;margin-right: 15px;">
        <ion-icon name="power" style="color: crimson;" (click)="GoCerrarSesion()"></ion-icon>
      </div>

      <ion-row  style="background: #00145B; height: 40px !important; box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.16);">
        <ion-col class="ion-text-center" style="padding: 10px !important;">
          <ion-label style="font-size: 16px;" color="blanco">
            Bienvenido <ion-label color="green" style="font-size: 16px; font-weight: 600;">{{this.utils.usuario.nombre}}
            </ion-label>
          </ion-label>
        </ion-col>
      </ion-row>

    </ion-card-header>

    <ion-card-content>
   <!--
      <ion-card class="card-opcion" (click)="goSesion()">
        <ion-row>
          <ion-col size="4" style="padding: 0px !important;">
            <img src="assets/img/lock.svg" style="height: 120px !important;" alt="todo">
          </ion-col>
          <ion-col size="8" class="ion-text-center">
            <ion-row>
              <ion-col>
                <ion-label style="color: #222; font-size: 15px !important;">
                  <strong>
                    Inicio de sesión y seguridad
                  </strong>
                </ion-label>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-label style="font-size: 11px !important;">
                  Editar inicio de sesión, nombre y número de télefono móvil
                </ion-label>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-card>
    -->
      <ion-card class="card-opcion animated bounceInLeft" (click)="GoDepartamentos()">
        <ion-row style="padding: 15px !important;">
          <ion-col size="4">
            <img src="assets/img/magnifying-glass.png" alt="todo">
          </ion-col>
          <ion-col size="8" class="ion-text-center">
            <ion-row>
              <ion-col>
                <ion-label style="color: #222; font-size: 15px !important;">
                  <strong>
                    Búsqueda de Productos
                  </strong>
                </ion-label>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-label style="font-size: 11px !important;">
                  Busca productos para consultar información.
                </ion-label>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-card>

      <ion-card class="card-opcion animated bounceInRight" (click)="GoNuevoPedido()">
        <ion-row style="padding: 15px !important;">
          <ion-col size="4">
            <img src="assets/img/box.png" alt="todo">
          </ion-col>
          <ion-col size="8" class="ion-text-center">
            <ion-row>
              <ion-col>
                <ion-label style="color: #222; font-size: 15px !important;">
                  <strong>
                    Creación de Pedido
                  </strong>
                </ion-label>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-label style="font-size: 11px !important;">
                  Registra un nuevo pedido para clientes
                </ion-label>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-card>

      <ion-card class="card-opcion animated bounceInLeft" (click)="GoPedidos()">
        <ion-row style="padding: 15px !important;">
          <ion-col size="4">
            <img src="assets/img/files-and-folders.png" alt="todo">
          </ion-col>
          <ion-col size="8" class="ion-text-center">
            <ion-row>
              <ion-col>
                <ion-label style="color: #222; font-size: 15px !important;">
                  <strong>
                    Pedidos Realizados
                  </strong>
                </ion-label>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-label style="font-size: 11px !important;">
                  Rastrear paquetes, cancelar pedidos o consultar información
                </ion-label>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-card>

      <ion-card class="card-opcion animated bounceInRight" (click)="GoPickAndPacks()">
        <ion-row style="padding: 15px !important;">
          <ion-col size="4">
            <img src="assets/img/order.png" alt="todo">
          </ion-col>
          <ion-col size="8" class="ion-text-center">
            <ion-row>
              <ion-col>
                <ion-label style="color: #222; font-size: 15px !important;">
                  <strong>
                    Pick and Packs
                  </strong>
                </ion-label>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-label style="font-size: 11px !important;">
                  Crear Pick and Packs, Rastrear Pick and Packs o consultar información
                </ion-label>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-card>

    </ion-card-content>
  </ion-card>


</ion-content>