<ion-header>
  <ion-toolbar color="blue" class="ion-text-center">
    <ion-col slot="start">
      <ion-buttons>
        <ion-back-button color="blanco" defaultHref="/" text=""></ion-back-button>
      </ion-buttons>
    </ion-col>
    <ion-col>
      <img routerLink="/inicio" style="height: 55px;padding: 3px;" src="assets/logo.svg" alt="logo">
    </ion-col>
    <ion-col slot="end"></ion-col>
  </ion-toolbar>
</ion-header>

<ion-content>
  <layer></layer>
  <ion-card style="background-color: white;" *ngIf="direcciones != null">
    <ion-card-header style="padding: 0px !important; padding-bottom: 15px !important;">
      <ion-row style="height: 50px !important; padding-top: 12px !important;">
        <ion-col class="ion-text-center">
          <ion-label style="font-size:20px;" color="blue">Seleccionar dirección</ion-label>
        </ion-col>
        <ion-item-divider></ion-item-divider>
      </ion-row>
    </ion-card-header>
    
    <ion-card-content>
      <ion-grid>
        <div style="background-color: white;border:none; border: 3px dashed gray;border-radius: 3px;">
          <ion-row>
            <ion-col class="ion-text-center">
              <ion-button style="color: #ececec !important;" fill="clear" (click)="GoNuevaDireccionPedido()">
                <ion-icon style="font-size: 50px;" name="add"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="ion-text-center">
              <ion-button fill="clear" (click)="GoNuevaDireccionPedido()">
                <h2><strong>Agregar dirección</strong></h2>
              </ion-button>
            </ion-col>
          </ion-row>
        </div>
        <ion-item class="direccion-item"  button detail="true" mode="md" class="item-ripple animated fadeInUp" *ngFor="let direccion of direcciones"
        (click)="OnSelectDireccion(direccion.idDireccion)">
          <ion-label class="ion-text-wrap">
            <div *ngIf="direccion!=null" > 
              <p style="font-size: 12px !important; color: #222;">
                {{direccion.calle}} # {{direccion.noExterior}}&nbsp;{{direccion.colonia}}
              </p>
              <p style="font-size: 12px !important; color: #222;">
                {{direccion.municipio}}&nbsp;{{direccion.estado}},{{direccion.pais}} 
              </p>
              <p style="font-size: 12px !important; color: #222;">
                <strong>Código Postal: </strong> {{direccion.codigoPostal}} 
              </p>
              <p style="font-size: 12px !important; color: #222;">
                <strong>Teléfono de contacto: </strong> <label style="color: #A6C038">{{direccion.telefonoContacto}} </label>
              </p>
            </div> 
          </ion-label>
        </ion-item>
      </ion-grid>
      
      

    </ion-card-content>
  </ion-card>


</ion-content>