ion-item-divider{
    margin-top: 0px;
    min-height: 1px !important;
}


/*ngAnimate */
.direccion-item.ng-enter {
    -webkit-animation: fadeInLeft 1s;
    animation: fadeInLeft 1s;
}

.direccion-item.ng-enter-stagger {
    -webkit-animation-delay:200ms;
    animation-delay:200ms;
  
    /* override to make sure it's not inherited from other styles */
    -webkit-animation-duration:0;
    animation-duration:0;
  }