ion-button{
    --border-radius: 5px !important;
    text-transform: none;
}

ion-item-divider{
    margin-top: 0px;
    min-height: 1px !important;
}

ion-item{
    border-radius: 5px !important;
    box-shadow: 0px 2px 6px #ededee;
    font-size: 0.8em;
    max-height: 38px;
    --highlight-color-valid: transparent;
    --highlight-color-invalid: transparent;
    --highlight-color-focused: var(--ion-color-medium);
}

ion-input{
  padding-bottom: 10px !important;
}

.prequire{
    --placeholder-color:  #FF0000;
}

.require{
    border: 0.8px solid transparent;
    border-color: red;
    --placeholder-color:  #FF0000;
}
.normal{
    border-color: transparent;
}
.pnormal{
    border-color: transparent;
}

ion-icon{
    margin-top: 0px !important;
}