<ion-header>
    <ion-toolbar color="blue" class="ion-text-center">
      <ion-col slot="start">
      </ion-col>
      <ion-col>
        <img routerLink="/inicio" style="height: 55px;padding: 3px;" src="assets/logo.svg" alt="logo">
      </ion-col>
      <ion-col slot="end"></ion-col>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <layer></layer>
  <ion-card style="background-color: white;">
    <ion-card-header style="padding: 0px !important; padding-bottom: 15px !important;">
      <ion-row style="height: 50px !important; padding-top: 12px !important;">
        <ion-col class="ion-text-center">
          <ion-label style="font-size:20px;" color="blue">Bienvenido</ion-label>
        </ion-col>
        <ion-item-divider></ion-item-divider>
      </ion-row>
    </ion-card-header>
    <ion-card-content>
      <!--<ion-label  *ngIf="sesion" style="font-size: 0.9em;" color="red" >{{emailE}}{{contrasenaE}}</ion-label>-->
      <ion-row>
        <ion-col size="6" offset="3" class="ion-text-center">
          <img src="assets/img/profile.png">
        </ion-col>
      </ion-row>
      
      
      <ion-row>
        <ion-col>
          <ion-item [ngClass]="!txtNumEmpleadoError ? 'normal' : 'require'">
            <ion-input [(ngModel)]="txtNumEmpleado" type="text" placeholder="Email de empleado" 
              [ngClass]="!txtNumEmpleadoError ? 'pnormal' : 'prequire'" (ionBlur)="OnBlurTxt()" >
            </ion-input>
            <ion-icon *ngIf="txtNumEmpleadoError" src="assets/inputError.svg" slot="end">
            </ion-icon>
          </ion-item>
        </ion-col>
      </ion-row>
      
      <ion-row>
        <ion-col>
          <ion-item [ngClass]="!txtContrasenaError ? 'normal' : 'require'">
            <ion-input [(ngModel)]="txtContrasena" [type]="txtContrasenaType" required="true" placeholder="Contraseña"  
            [ngClass]="!txtContrasenaError ? 'pnormal' : 'prequire'" (ionBlur)="OnBlurTxt()"></ion-input>
            <ion-icon  (click)="togglePass()" [src]="iconEye" slot="end">
            </ion-icon>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="ion-text-center">
          <ion-label  *ngIf="datosIncorrectos" style="font-size: 12px;" color="red" >{{mensajeValidacion}}</ion-label>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="ion-text-center">
          <ion-button (click)="OnIniciarSesion()" style="width: 220px; height: 35px;" color="green">
            <h2 style="color: #222;">Iniciar sesión</h2>
          </ion-button>
        </ion-col>
      </ion-row>
     
    </ion-card-content>
  </ion-card>


</ion-content>

