<ion-header>
  <ion-toolbar color="blue" class="ion-text-center">
    <ion-col slot="start">
    </ion-col>
    <ion-col>
      <img routerLink="/inicio" style="height: 55px;padding: 3px;" src="assets/logo.svg" alt="logo">
    </ion-col>
    <ion-col slot="end"></ion-col>
  </ion-toolbar>
</ion-header>

<ion-content>
  <layer></layer>
  <ion-card style="background-color: white;">
    <ion-card-header style="padding: 0px !important; padding-bottom: 15px !important;">
      <ion-row style="height: 50px !important; padding-top: 12px !important;">
        <ion-col class="ion-text-center">
          <ion-label style="font-size:20px;" color="blue">Pedido realizado</ion-label>
        </ion-col>
        <ion-item-divider></ion-item-divider>
      </ion-row>
    </ion-card-header>
    <ion-card-content style=" padding-left: 0px !important;  padding-right: 0px !important;">
      <div class="ion-text-center"
        style="padding-top: 0px !important; margin-top: 0px !important; font-size:40px !important; color:#A6C038 !important;">
        !Felicidades!
      </div>
      <div class="ion-text-center" style="padding: 0px !important; margin: 0px !important;font-size:30px !important;">Tu
        pedido esta completado</div>
      <hr>

      <img src=" ../assets/img/box-pedido.svg" alt="box"
        style="height:150px !important; width:60% !important; margin: auto;">
      <hr>
      <div style="background-color:  var(--ion-color-blue) ; color: white !important;     box-shadow: 3px 3px 5px rgba(0,0,0,.6);">
        <div class="ion-text-center"
          style="padding-right: 30px !important; padding-left: 30px !important; margin: 0px !important;font-size:18px !important;">
          Nº de Folio: {{pedido.idPedido}}
        </div>
        <div class="ion-text-center"
          style="padding-right: 30px !important; padding-left: 30px !important; margin: 0px !important;font-size:18px !important; color:#A6C038 !important;">
          {{pedido.statusPedido}}
        </div>
      </div>
      <hr>
      <div class="ion-text-center"
        style="padding-right: 25px !important; padding-left: 25px !important; margin: 0px !important;font-size:18px !important;">
        La <ion-label color="greenLow">información</ion-label> del pedido y el <ion-label color="greenLow">estatus
        </ion-label>
        del mismo puede ser observado en el
        apartado de <ion-label color="green" style="font-weight: 600;"> Pedidos Realizados </ion-label>
      </div>
      <ion-row>
        <ion-col class="ion-text-center">
          <ion-button (click)="GoInicio()" color="green">
            <h4 style="color: #222;">Aceptar</h4>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>