<ion-header>
  <ion-toolbar color="blue" class="ion-text-center">
    <ion-col slot="start">
      <ion-buttons>
        <ion-back-button color="blanco" defaultHref="/" text=""></ion-back-button>
      </ion-buttons>
    </ion-col>
    <ion-col>
      <img routerLink="/inicio" style="height: 55px;padding: 3px;" src="assets/logo.svg" alt="logo">
    </ion-col>
    <ion-col slot="end"></ion-col>
  </ion-toolbar>
</ion-header>

<ion-content>
  <layer></layer>
  <ion-card style="background-color: #fff;">
    <ion-card-header style="padding: 0px !important; padding-bottom: 15px !important;">
      <ion-row style="height: 50px !important; padding-top: 12px !important;">
        <ion-col class="ion-text-center">
          <ion-label style="font-size:20px;" color="blue">Pedidos</ion-label>
        </ion-col>
        <ion-item-divider></ion-item-divider>
      </ion-row>
    </ion-card-header>
    <ion-card-content>
      <ion-row>
        <ion-col size="12">
          <div class="inputs">
            <ion-input class="input_" type="text" placeholder="Busca a un cliente"
              (ionChange)="OnFiltrarPedidosClientes()" debounce="500" [(ngModel)]="txtBusqueda">
            </ion-input>
            <button class="usericonbox" (click)="OnFiltrarPedidosClientes()">
              <ion-icon name="search"></ion-icon>
            </button>
          </div>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="this.mostrarloading">
        <ion-col>
          <ion-progress-bar type="indeterminate" reversed="true" color="blue"></ion-progress-bar>
        </ion-col>
      </ion-row>
      <ion-card *ngIf="clientes.length > 0" style="margin-top: 0px;">
        <ion-card-header style="padding: 0px !important; padding-bottom: 15px !important;">
          <ion-row>
            <ion-col class="ion-text-center">
              <ion-label style="font-size:16px;" color="blue">Selecciona un cliente</ion-label>
            </ion-col>
            <ion-item-divider></ion-item-divider>
          </ion-row>
        </ion-card-header>
        <ion-list lines="full"
          style=" height:100% !important; padding: 0px !important;margin: 0px !important; width: 100% !important; ">
          <ion-item button detail="true" lines="none" mode="md" class="item-ripple" *ngFor="let item of this.clientes;"
            (click)="ObtenerPedidosCliente(item)">
            <ion-label class="ion-text-wrap">
              <ion-text color="#222">
                <h4>{{item.nombre}}</h4>
              </ion-text>
              <p>{{item.email}}</p>
              <ion-text color="green">
                <p>{{item.telefono}}</p>
              </ion-text>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-card>

      <ion-card *ngFor="let pedido of pedidos" class="animated fadeInUp" (click)="GoDetallePedido(pedido)"
        style="background-color: #EBEBEB !important;  margin-top: 5px !important; border-radius: 5px; box-shadow: 0px 5px 8px #00000030;">
        <div *ngIf="!this.mostrarloading">
        <ion-row>
          <ion-col size="5">
            <img src="../assets/img/box-pedido.svg" alt="todo" style="height: 130px; padding: 10px; ">
          </ion-col>
          <ion-col size="7">
            <ion-row>
              <ion-col>
                <ion-text style="font-size:13px !important;" color="black">Fecha: {{pedido.fechaPedido}}</ion-text>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-label style="font-size:13px !important;">Cliente:</ion-label>
              </ion-col>
            </ion-row>
            <ion-row style="margin-top: -5px;">
              <ion-col style="padding-top: 0px !important;">
                <ion-label style="font-size:13px !important; font-weight: 600; color: #000;">
                  <!--{{clienteSeleccionado.nombres}}--> {{pedido.nombres}}</ion-label>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
        <ion-row style="margin-top: -30px !important">
          <ion-col class="ion-text-center">
            <ion-label style="font-weight: 600; font-size: 12px;" color="{{pedido.color}}">{{pedido.statusPedido}}
            </ion-label>
          </ion-col>
        </ion-row>
        <div class="ion-text-center"
          style="background-color:#CBCBCB !important; margin: 0px !important; padding: 0px !important; margin-bottom: 7px !important;">
          <ion-text style="font-size:18px !important; color: white !important;">Nº de Folio:</ion-text>
          <ion-text style="font-size:18px !important;" color="black"> {{pedido.idPedidoCliente}}</ion-text>
        </div>
        </div>
      </ion-card>

    </ion-card-content>
  </ion-card>

</ion-content>