<ion-header>
  <ion-toolbar color="blue" class="ion-text-center">
    <ion-col slot="start">
      <ion-buttons>
        <ion-back-button color="blanco" defaultHref="/" text=""></ion-back-button>
      </ion-buttons>
    </ion-col>
    <ion-col>
      <img routerLink="/inicio" style="height: 55px;padding: 3px;" src="assets/logo.svg" alt="logo">
    </ion-col>
    <ion-col slot="end"></ion-col>
  </ion-toolbar>
</ion-header>

<ion-content>
  <layer></layer>
  <ion-card style="background-color: #fff;">
    <ion-card-content *ngIf="pickPack!= null">
      <ion-row>
        <ion-col class="ion-text-center">
          <ion-label color="blue" style="font-size: 16px !important; font-weight: 600;">
            Pick and Pack Realizados
          </ion-label>
        </ion-col>
      </ion-row>

      <ion-row style="background: var(--ion-color-blue)">
        <ion-col style="padding: 0px !important;" class="ion-text-center">
          <ion-label color="blanco">
            <strong>
              N° de Folio: {{idPickPackClienteERP}}
            </strong>
          </ion-label>
        </ion-col>
      </ion-row>
      <ion-row style="background: var(--ion-color-blue)">
        <ion-col style="padding: 0px !important;" class="ion-text-center">
          <ion-label color="{{colorEstatus}}">
            <strong>{{pickPack.estatus}}</strong>
          </ion-label>
        </ion-col>
      </ion-row>

      <div
        style="padding-top: 8px !important; padding-left: 8px !important; padding-right: 8px !important; padding-bottom: 0px !important;">

        <ion-row style="padding-top: 5px !important; padding-bottom: 0px !important;">
          <ion-col style="padding-top: 0px !important; padding-bottom: 0px !important;">
            <ion-label style="font-size: 15px !important; color: #000 !important;">
              Nombre:
            </ion-label>
          </ion-col>
        </ion-row>
        <ion-row style="padding-top: 0px !important; padding-bottom: 0px !important;">
          <ion-col size="12" style="padding-top: 0px !important; padding-bottom: 0px !important;">
            <ion-label style="font-size: 12px !important;">
              {{pickPack.nombre}}
            </ion-label>
          </ion-col>
        </ion-row>

        <ion-row style="padding-top: 5px !important; padding-bottom: 0px !important;">
          <ion-col style="padding-top: 0px !important; padding-bottom: 0px !important;">
            <ion-label style="font-size: 15px !important; color: #000 !important;">
              Correo electrónico:
            </ion-label>
          </ion-col>
        </ion-row>
        <ion-row style="padding-top: 0px !important; padding-bottom: 0px !important;">
          <ion-col size="12" style="padding-top: 0px !important; padding-bottom: 0px !important;">
            <ion-label style="font-size: 12px !important;">
              {{pickPack.correo}}
            </ion-label>
          </ion-col>
        </ion-row>

        <ion-row style="padding-top: 10px !important;">
          <ion-col>
            <ion-label style="font-size: 15px !important; color: #000 !important;">
              Dirección:
            </ion-label>
          </ion-col>
        </ion-row>

      </div>

      <ion-card *ngIf="pickPack.domicilioEntrega != null" 
      style="background: #ececec !important; padding: 15px !important;">
        <ion-row>
          <ion-col style="padding: 0px !important;" class="ion-text-center">
            <ion-label style="color: #222 !important; font-size: 12px !important;">
              <strong>{{pickPack.nombre}}</strong>
            </ion-label>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col style="padding: 0px !important;" class="ion-text-left">
            <ion-label style="color: #222 !important; font-size: 12px !important;">
              <strong>Dirección:</strong> {{pickPack.domicilioEntrega.calle}} #{{pickPack.domicilioEntrega.noExterior}}
              {{pickPack.domicilioEntrega.colonia}}
            </ion-label>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col style="padding: 0px !important;" class="ion-text-left">
            <ion-label style="color: #222 !important; font-size: 12px !important;">
              <strong>Código Postal: </strong> {{pickPack.domicilioEntrega.codigoPostal}}
            </ion-label>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col style="padding: 0px !important;" class="ion-text-left">
            <ion-label style="color: #222 !important; font-size: 12px !important;">
              <strong>Ciudad y Estado: </strong> {{pickPack.domicilioEntrega.municipio}}, {{pickPack.domicilioEntrega.estado}}
            </ion-label>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col style="padding: 0px !important;" class="ion-text-left">
            <ion-label style="color: #222 !important; font-size: 12px !important;">
              <strong>País: </strong> {{pickPack.domicilioEntrega.pais}}
            </ion-label>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col style="padding: 0px !important;" class="ion-text-left">
            <ion-label style="color: #222 !important; font-size: 12px !important;">
              <strong>Télefono celular: </strong> {{pickPack.domicilioEntrega.telefonoContacto}}
            </ion-label>
          </ion-col>
        </ion-row>

      </ion-card>

      <ion-row>
        <ion-col>
          <ion-label style="font-size: 15px !important; color: #000 !important;">
            Mascota:
          </ion-label>
        </ion-col>
      </ion-row>

      <ion-card style="background-color: #ececec;">
        <ion-row>
          <ion-col size="1"></ion-col>
          <ion-col size="5" class="ion-text-center">
            <img src="assets/img/caballo.png"  alt="todo">
          </ion-col>
          <ion-col size="6">
            <ion-row><ion-col></ion-col></ion-row>
              <ion-row>
                <ion-col class="ion-text-center">
                    <h2>
                      <strong style="color: #222 !important;">
                        {{pickPack.nombreMascota}}
                      </strong>
                    </h2>
                </ion-col>
              </ion-row>
              <ion-row>
                  <ion-col class="ion-text-center">
                      <h2>
                          {{pickPack.raza}}
                      </h2>
                  </ion-col>
              </ion-row>
          </ion-col>
        </ion-row>
     </ion-card>

    <ion-row style="padding-top: 5px !important; padding-bottom: 0px !important;">
      <ion-col style="padding-top: 0px !important; padding-bottom: 0px !important;">
        <ion-label style="font-size: 15px !important; color: #000 !important;">
          Tipo de entrega:
        </ion-label>
      </ion-col>
      <ion-col *ngIf="pickPack.entregaMensual == 1" size="3" 
      style="padding-top: 0px !important; padding-bottom: 0px !important;">
        <ion-label style="font-size: 15px !important; color: #000 !important;">
          Día:
        </ion-label>
      </ion-col>
    </ion-row>
    <ion-row style="padding-top: 0px !important; padding-bottom: 0px !important;">
      <ion-col style="padding-top: 0px !important; padding-bottom: 0px !important;">
        <ion-label color="green" style="font-size: 12px !important;" >
          {{(pickPack.entregaMensual ==1 ? "Entrega Mensual" :"Entrega Única")}}
        </ion-label>
      </ion-col>
      <ion-col size="3" *ngIf="pickPack.entregaMensual == 1">
        <ion-label color="green"
        style="font-size: 12px !important;">
        {{ pickPack.diaEntrega}}
      </ion-label>
      </ion-col>
    </ion-row>
    <ion-item-divider style="margin-top: -25px"></ion-item-divider>

      <div *ngIf="pickPack.sustanciasCerradas != null"
        style="padding-top: 8px !important; padding-left: 8px !important; padding-right: 8px !important; padding-bottom: 0px !important;">
        <ion-row>
          <ion-col size="9" class="ion-text-left">
            <ion-label style="color: #222 !important; font-size: 14px !important;">
              Productos:
            </ion-label>
          </ion-col>
          <ion-col class="ion-text-left" style="padding-left: 0px !important;">
            <ion-label style="color: #222 !important; font-size: 14px !important;">
              Precio:
            </ion-label>
          </ion-col>
        </ion-row>

        <ion-row *ngFor="let item of pickPack.sustanciasCerradas">
          <ion-col size="8">
            <ion-label style="color: #222 !important; font-size: 12px !important; font-weight: 600;">
              {{item.sustancia}}
            </ion-label>
          </ion-col>
          <ion-col style="padding-left: 5px !important; text-align: center;">
            <ion-label color="green" style="font-size: 12px !important;">
              ${{item.precio}} USD
            </ion-label>
          </ion-col>
          <ion-col size="10" style="margin-top: -12px !important;">
            <ion-label color="gray" style="font-size: 11px !important;">
              {{item.descripcion}}
            </ion-label>
          </ion-col>
        </ion-row>
      </div>

      <ion-item-divider></ion-item-divider>

      <ion-row>
        <ion-col class="ion-text-center">
          <ion-label color="blue" style="font-size: 16px !important;">
            <strong>TOTAL DEL PICK AND PACK</strong>
          </ion-label>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12" class="ion-text-center">
          <ion-label color="green" style="font-size: 18px !important;">
            <strong>$ {{pickPack.costoTotalDolares}} USD</strong>
          </ion-label>
        </ion-col>
        <ion-col class="ion-text-center" style="margin-top: -10px !important;">
          <ion-label style="font-size: 12px !important; color: #8F8F8F !important;">
            <strong>$ {{pickPack.costoTotalPesos}} MX</strong>
          </ion-label>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="pickPack.idStatus == 1"> 
        <ion-col class="ion-text-center">
          <ion-button style="text-transform: none" expand="block" color="red" (click)="AlertaCancelarPickPack()">
            <h2 style="color: #fff;">CANCELAR PICK AND PACK</h2>
          </ion-button>
        </ion-col>
      </ion-row>

    </ion-card-content>
  </ion-card>

</ion-content>
