<ion-header>
  <ion-toolbar color="blue" class="ion-text-center">
    <ion-col slot="start">
      <ion-buttons>
        <ion-back-button color="blanco" defaultHref="/" text=""></ion-back-button>
      </ion-buttons>
    </ion-col>
    <ion-col>
      <img routerLink="/inicio" style="height: 55px;padding: 3px;" src="assets/logo.svg" alt="logo">
    </ion-col>
    <ion-col slot="end"></ion-col>
  </ion-toolbar>
</ion-header>

<ion-content>
  <layer></layer>
  <ion-card style="background-color: white;">
    <ion-card-header style="padding: 0px !important; padding-bottom: 15px !important;">
      <ion-row style="height: 50px !important; padding-top: 12px !important;">
        <ion-col class="ion-text-center">
          <ion-label style="font-size:20px;" color="blue">Crear Pick and Pack</ion-label>
        </ion-col>
        <ion-item-divider></ion-item-divider>
      </ion-row>
    </ion-card-header>
    <ion-card-content>

      <ion-row>
        <ion-col class="ion-text-center">
          <ion-label>Agregar Productos</ion-label>
        </ion-col>
      </ion-row>

      <div *ngIf="productos != null">
        <div
          style="padding-top: 8px !important; padding-left: 8px !important; padding-right: 8px !important; padding-bottom: 0px !important;">
          <ion-row>
            <ion-col size="9" class="ion-text-left">
              <ion-label style="color: #222 !important; font-size: 14px !important;">
                Productos:
              </ion-label>
            </ion-col>
          </ion-row>

          <ion-row *ngFor="let item of productos" style="text-align: justify;">
            <ion-col size="10">
              <ion-label style="color: #222 !important; font-size: 12px !important; font-weight: 600;">
                {{item.sustancia}} <span style="color: var(--ion-color-green);">&nbsp;&nbsp;${{item.precio}} USD</span> 
              </ion-label>
            </ion-col>
            <ion-col size="2" style="text-align: right;">
              <button ion-button icon-only
                style="background: none !important;color: red; font-size: 18px !important;"
                (click)="AlertaEliminarProducto(item)">
                <ion-icon style="display: inherit;
                  position: relative;
                  vertical-align: middle;" name="trash"></ion-icon>
              </button>
            </ion-col>
            <ion-col size="10" style="margin-top: -12px !important;">
              <ion-label color="gray" style="font-size: 11px !important;">
                {{item.descripcion}}
              </ion-label>
            </ion-col>
            <ion-item-divider></ion-item-divider>
          </ion-row>
        </div>

        <!--<ion-item-divider></ion-item-divider>-->

        <ion-row>
          <ion-col class="ion-text-center">
            <ion-label color="blue" style="font-size: 18px !important;">
              <strong>TOTAL DEL PEDIDO</strong>
            </ion-label>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12" class="ion-text-center">
            <ion-label color="green" style="font-size: 18px !important;">
              <strong>$ {{pickAndPack.costoTotalDolares}} USD</strong>
            </ion-label>
          </ion-col>
          <ion-col class="ion-text-center" style="margin-top: -10px !important;">
            <ion-label style="font-size: 12px !important; color: #8F8F8F !important;">
              <strong>$ {{pickAndPack.costoTotalPesos}} MX</strong>
            </ion-label>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col class="ion-text-center">
            <ion-button style="text-transform: none" expand="block" color="blue" (click)="OnRelizarPickPack()">
              <h2 style="color: #fff;">CREAR PICK AND PACK</h2>
            </ion-button>
          </ion-col>
        </ion-row>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="productos==null" color="gray"
    style="box-shadow: 2px 2px 10px #222;width: 80%;margin: auto;margin-top: 30px;"
    class="animated indetermina infinite pulse slow">
    <ion-card-content class="ion-text-center">
      <ion-label color="blanco" style="font-size: 12px;">
        ¡Presiona el botón flotante para ingresar productos a la lista y crear tu pick and pack!
      </ion-label>
    </ion-card-content>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="GoAddProductos()">
    <ion-fab-button color="green">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>