<ion-header>
  <ion-toolbar color="blue" class="ion-text-center">
    <ion-col slot="start">
      <ion-buttons>
        <ion-back-button color="blanco" defaultHref="/" text=""></ion-back-button>
      </ion-buttons>
    </ion-col>
    <ion-col>
      <img routerLink="/inicio" style="height: 55px;padding: 3px;" src="assets/logo.svg" alt="logo">
    </ion-col>
    <ion-col slot="end"></ion-col>
  </ion-toolbar>
</ion-header>

<ion-content>
  <layer></layer>
  <ion-card style=" border-radius: 10px !important;">
    <ion-list lines="full"
      style=" height:100% !important; width: 100% !important; padding: 0px !important;margin: 0px !important; ">
      <div class="ion-text-start" style="font-size: 1.3em; padding-left:10px !important;  padding-top:30px !important;">
        <ion-text class="ion-text-start" color="greenLow">Departamento de <strong>{{this.nombreDepartamento}}</strong>
        </ion-text>
      </div>

      <ion-item button detail="false" mode='md' class="item-ripple animated fadeInLeft" 
      *ngFor="let item of this.subDepartamentos"
      (click)="GoProductosSubDepa(item)">
        <ion-col size="11">
            <ion-label style="font-size: 14px;">{{item.nombreSubDepartamento}}</ion-label>
        </ion-col>
        <ion-col size="1" class="ion-justify-content-end">
          <ion-icon color="greenLow" name="ios-arrow-forward" item-end></ion-icon>
        </ion-col>
        <ion-ripple-effect type="bounded"></ion-ripple-effect>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>