<ion-header>
  <ion-toolbar color="blue" class="ion-text-center">
    <ion-col slot="start">
      <ion-buttons>
        <ion-back-button color="blanco" defaultHref="/" text=""></ion-back-button>
      </ion-buttons>
    </ion-col>
    <ion-col>
      <img routerLink="/inicio" style="height: 55px;padding: 3px;" src="assets/logo.svg" alt="logo">
    </ion-col>
    <ion-col slot="end"></ion-col>
  </ion-toolbar>
</ion-header>

<ion-content>
  <layer></layer>
  <ion-card style="background-color: white;">
      <ion-card-header style="padding: 0px !important; padding-bottom: 15px !important;">
          <ion-row style="height: 50px !important; padding-top: 12px !important;">
            <ion-col class="ion-text-center">
              <ion-label style="font-size:20px;" color="blue">Agregar nueva mascota</ion-label>
            </ion-col>
            <ion-item-divider></ion-item-divider>
          </ion-row>
        </ion-card-header>
    <ion-card-content>
      <ion-row>
        <ion-col size="6" offset="3" class="ion-text-center">
          <img src="assets/img/caballo.png">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label style="font-size: 0.9em;" color="gray">Tipo de mascota </ion-label>
          <div class="divnormal" [ngClass]="cbTipoMascotaError ? 'require' : 'pnormal'">
            <ion-select [placeholder]="pTipoMascota" [(ngModel)]="idTipoMascota">
              <ion-select-option *ngFor="let item of this.tiposMascota" value="{{item.idTipoMascota}}"
                [selected]="this.idTipoMascota == item.idTipoMascota">
                {{item.descripcion}}
              </ion-select-option>
            </ion-select>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label style="font-size: 0.9em;" color="gray">Nombre</ion-label>
          <ion-item [ngClass]="txtNombreError ? 'require' : 'pnormal'">
            <ion-input [(ngModel)]="txtNombre" inputmode="text" [placeholder]="pNombre"
              [ngClass]="txtNombreError? 'prequire' : 'pnormal'" (ionBlur)="OnBlurTxt()"></ion-input>
            <ion-icon *ngIf="txtNombreError" style="padding-bottom: 10px !important;" src="assets/IconoError.svg"
              slot="end">
            </ion-icon>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label style="font-size: 0.9em;" color="gray">Raza</ion-label>
          <ion-item [ngClass]="txtRazaError? 'require' : 'pnormal'">
            <ion-input [(ngModel)]="txtRaza" inputmode="text" [placeholder]="pRaza"
              [ngClass]="txtRazaError? 'prequire' : 'pnormal'" (ionBlur)="OnBlurTxt()"></ion-input>
            <ion-icon *ngIf="txtRazaError" style="padding-bottom: 10px !important;" src="assets/IconoError.svg"
              slot="end">
            </ion-icon>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label *ngIf="this.datosIncorrectos" style="font-size: 0.9em;" color="red">Complete la información
            solicitada.</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-center">
          <ion-button (click)="OnGuardarMascota()" style="width: 220px; height: 35px;" color="green">
            <p style="color: #222;">Agregar mascota</p>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-card-content>


  </ion-card>
</ion-content>