<ion-header>
  <ion-toolbar color="blue" class="ion-text-center">
    <ion-col slot="start">
      <ion-buttons>
        <ion-back-button color="blanco" defaultHref="/" text=""></ion-back-button>
      </ion-buttons>
    </ion-col>
    <ion-col>
      <img routerLink="/inicio" style="height: 55px;padding: 3px;" src="assets/logo.svg" alt="logo">
    </ion-col>
    <ion-col slot="end"></ion-col>
  </ion-toolbar>
  <ion-row  style="background-color: #A1BF37; padding: 0px !important;">
    <ion-col class="ion-text-left" size="9" style="margin-left: 10px !important;">
      <ion-label style="font-size: 12px !important;">Coincidencias con: <strong>{{this.palabraCoincidencia}}</strong></ion-label>
    </ion-col>
  </ion-row>
</ion-header>


<ion-content>
<layer></layer>


<ion-card style="border-radius: 10px !important;">
  <ion-card *ngFor="let item of this.productos" class="animated fadeIn"
    style=" padding: 0px !important;margin: 0px !important;  height: auto !important; border-radius:0px !important;"
    (click)="GoDetalleProducto(item.idProducto)"
    color="blanco">
    <ion-card-content>
      <ion-row>
        <ion-col size="4">
          <img src="{{item.imagen_producto}}" alt="product"
            style="height:100px !important; width:100px !important;padding: 5px !important;">
        </ion-col>
        <ion-col>
          <ion-row>
            <ion-col>
              <ion-label style="font-size: 14px;">
                <strong>{{item.nombre_producto}}</strong>
              </ion-label>
            </ion-col>
          </ion-row>

          <ion-row style="margin-top: -5px !important;">
            <ion-col style="padding-top: 0px !important;" size="10">
              <ion-label>
                ${{item.precio}} USD
              </ion-label>
              <!--<ion-label color="greenLow" style="padding-left: 3px !important;">
                -10%
              </ion-label>-->
            </ion-col>

          </ion-row>

          <ion-row style="margin-top: -10px !important;" >
            <ion-col style="padding-top: 0px;" class="ion-text-left">
              <ion-label style="font-size: 11px;"> por {{item.proveedor}}</ion-label>
            </ion-col>
          </ion-row>

          <!--<ion-row style="font-size: 10px;">
            <ion-col size="6">
              <ion-label>Pasillo:&nbsp;</ion-label>
              <ion-label color="greenLow">{{item.pasillo}}</ion-label>
            </ion-col>
            <ion-col size="6">
              <ion-label>Existencia:&nbsp;</ion-label>
              <ion-label color="greenLow">{{item.existencias}}</ion-label>
            </ion-col>
          </ion-row>-->

        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-card>
</ion-content>