<ion-header>
  <ion-toolbar color="blue" class="ion-text-center">
    <ion-col slot="start">
      <ion-buttons>
        <ion-back-button color="blanco" defaultHref="/" text=""></ion-back-button>
      </ion-buttons>
    </ion-col>
    <ion-col>
      <img routerLink="/inicio" style="height: 55px;padding: 3px;" src="assets/logo.svg" alt="logo">
    </ion-col>
    <ion-col slot="end"></ion-col>
  </ion-toolbar>
</ion-header>


<ion-content>
  <layer></layer>
  <ion-card style="background-color: white;">
    <ion-card-header style="padding: 0px !important; padding-bottom: 15px !important;">
      <ion-row style="height: 50px !important; padding-top: 12px !important;">
        <ion-col class="ion-text-center">
          <ion-label style="font-size:20px;" color="blue">Agregar nueva dirección</ion-label>
        </ion-col>
        <ion-item-divider></ion-item-divider>
      </ion-row>
    </ion-card-header>
    <ion-card-content>

      <ion-label style="font-size: 0.9em;" color="gray">País/Region </ion-label>
      <div class="divnormal">
        <ion-select [(ngModel)]="idPais">
          <ion-select-option *ngFor="let item of paises" value="{{item.idPais}}">{{item.pais}}</ion-select-option>
        </ion-select>
      </div>
      <ion-label style="font-size: 0.9em;" color="gray">Nombre Completo</ion-label>
      <ion-item [ngClass]="cNombre ? 'normal' : 'require'">
        <ion-input [(ngModel)]="vNombre" inputmode="text" [placeholder]="pNombre"
          [ngClass]="cNombre? 'pnormal' : 'prequire'" ></ion-input>
        <ion-icon *ngIf="!cNombre" style="padding-bottom: 10px !important;" src="assets/inputError.svg" slot="end">
        </ion-icon>
      </ion-item>
      <hr>
      <ion-label style="font-size: 0.9em;" color="gray">Teléfono celular</ion-label>
      <ion-item [ngClass]="cTelefono ? 'normal' : 'require'">
        <ion-input [(ngModel)]="vTelefono" inputmode="tel" required="true" [placeholder]="pTelefono"
          [ngClass]="cTelefono ? 'pnormal' : 'prequire'"></ion-input>
        <ion-icon *ngIf="!cTelefono" style="padding-bottom: 10px !important;" src="assets/inputError.svg" slot="end">
        </ion-icon>
      </ion-item>
      <ion-label style="font-size: 10px;" color="gray">Puede utilizarse para ayudar en</ion-label>
      <ion-label style="font-size: 10px;" color="greenLow"> la entrega</ion-label>
      <hr>
      <ion-label style="font-size: 0.9em;" color="gray">Código postal</ion-label>
      <ion-item [ngClass]="cCodigo ? 'normal' : 'require'">
        <ion-input [(ngModel)]="vCodigo" inputmode="tel" required="true" [placeholder]="pCodigo "
          [ngClass]="cCodigo ? 'pnormal' : 'prequire'" (ionBlur)="ObtenerColonias()"></ion-input>
        <ion-icon *ngIf="!cCodigo" style="padding-bottom: 10px !important;" src="assets/IconoError.svg" slot="end">
        </ion-icon>
      </ion-item>
      <hr>
      <ion-label style="font-size: 0.9em;" color="gray">Calle</ion-label>
      <ion-item [ngClass]="cDireccion ? 'normal' : 'require'">
        <ion-input [(ngModel)]="vDireccion" inputmode="text" required="true" [placeholder]="pDireccion"
          [ngClass]="cDireccion? 'pnormal' : 'prequire'"></ion-input>
        <ion-icon *ngIf="!cDireccion" style="padding-bottom: 10px !important;" src="assets/IconoError.svg" slot="end">
        </ion-icon>
      </ion-item>
      <hr>
      <ion-label style="font-size: 0.9em;" color="gray">Número exterior</ion-label>
      <ion-item [ngClass]="cNumeroext ? 'normal' : 'require'">
        <ion-input [(ngModel)]="vNumeroext" inputmode="tel" required="true" [placeholder]="pNumeroext"
          [ngClass]="cNumeroext ? 'pnormal' : 'prequire'"></ion-input>
        <ion-icon *ngIf="!cNumeroext" style="padding-bottom: 10px !important;" src="assets/IconoError.svg" slot="end">
        </ion-icon>
      </ion-item>
      <hr>
      <ion-label style="font-size: 0.9em;" color="gray">Estado/Provincia/Region</ion-label>
      <ion-item style="--ion-background-color:  #EBEBEB !important;">
        <ion-input [(ngModel)]="vEstado" inputmode="text" required="true" [placeholder]="pEstado" disabled="true">
        </ion-input>
        <!-- <ion-icon *ngIf="!cEstado" style="padding-bottom: 10px !important;" src="assets/IconoError.svg" slot="end"></ion-icon> -->
      </ion-item>
      <hr>
      <ion-label style="font-size: 0.9em;" color="gray">Ciudad</ion-label>
      <ion-item style="--ion-background-color: #EBEBEB !important;">
        <ion-input [(ngModel)]="vCiudad" inputmode="text" required="true" [placeholder]="pCiudad" disabled="true">
        </ion-input>
        <!-- <ion-icon *ngIf="!cCiudad" style="padding-bottom: 10px !important;" src="assets/IconoError.svg" slot="end"></ion-icon> -->
      </ion-item>
      <hr>
      <ion-label style="font-size: 0.9em;" color="gray">Colonia</ion-label>
      <div class="divnormal">
        <ion-select [(ngModel)]="idColonia" [placeholder]="pcolonia">
          <ion-select-option *ngFor="let col of objColonias" value="{{col.idColonia}}">{{col.colonia}}
          </ion-select-option>
        </ion-select>
      </div>
      <ion-row>
        <ion-col class="ion-text-center">
          <ion-button (click)="OnGuardarDireccion()" style="width: 220px; height: 35px;" color="green">
            <p style="color: #222;">Agregar dirección</p>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-card-content>


  </ion-card>
</ion-content>
