
ion-button{
    --border-radius: 5px !important;
     text-transform: none;
    }


        ion-item-divider{
          margin-top: 0px;
          min-height: 1px !important;
        }

ion-item{
    border-radius: 5px !important;
    box-shadow: 0px 2px 4px #ededee;
    font-size: 0.8em;
    max-height: 38px;
    --highlight-color-valid: transparent;
    --highlight-color-invalid: transparent;
    --highlight-color-focused: var(--ion-color-light);
   }

// ion-toolbar{
//    border-bottom:0.5em solid #A6C038;
// }

ion-input{
  padding-bottom: 10px !important;

}
.prequire{

       --placeholder-color:  #FF0000;
}
.require{


      border: 0.8px solid transparent;
      border-color: red;
       --placeholder-color:  #FF0000;
}
.normal{

    border-color: transparent;
}
.pnormal{

      border-color: transparent;
}
.divnormal{
  border-radius: 5px !important;
    box-shadow: 0px 2px 4px #ededee;
  font-size: 0.8em;
  max-height: 38px;
 --highlight-color-valid: transparent;
--highlight-color-invalid: transparent;
--highlight-color-focused: var(--ion-color-light);
}


.select-icon-inner {
   color : red !important;
    border-top: transparent!important;
}
.place{
    --placeholder-color: black !important;
    --placeholder-opacity: 0.6 !important;
}

.select-placeholder{
      color: #000 !important;
      font-size: 13px !important;
}
