// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  /*--ion-color-primary: #3880ff;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;*/

  /** secondary **/
  --ion-color-secondary: #0cd1e8;
  --ion-color-secondary-rgb: 12, 209, 232;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #0bb8cc;
  --ion-color-secondary-tint: #24d6ea;

  /** tertiary **/
  --ion-color-tertiary: #7044ff;
  --ion-color-tertiary-rgb: 112, 68, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #633ce0;
  --ion-color-tertiary-tint: #7e57ff;

  /** success **/
  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  //colores
  --ion-color-green: #889E2D;
  --ion-color-greenLow: #A6C038;
  --ion-color-blue: #00145B;
  --ion-color-red: #FF0034;
  --ion-color-orange: #f5580e;
  --ion-color-gray: #232F3E;
  --ion-color-beige: #A6C038;
  --ion-color-white: #FFFFFF;
  --ion-color-black: #000000;
  --ion-color-blanco: #FFF;
  --ion-color-green50: rgba(167, 192, 56, 0.50);
  
  .ion-color-blue {
    --ion-color-base: var(--ion-color-blue) !important;
  }

  .ion-color-red {
    --ion-color-base: var(--ion-color-red) !important;
  }

  .ion-color-green {
    --ion-color-base: var(--ion-color-green) !important;
  }
  
  .ion-color-green50 {
    --ion-color-base: var(--ion-color-green50) !important;
  }

  .ion-color-blanco {
    --ion-color-base: var(--ion-color-blanco) !important;
  }

  .ion-color-greenLow {
    --ion-color-base: var(--ion-color-greenLow) !important;
  }
  
  .item-ripple{
    --ripple-color: rgba(167, 192, 56, 1) !important;
  }

  .ion-color-orange{
    --ion-color-base: var(--ion-color-orange) !important;
  }

  .ion-color-black{
    --ion-color-base: var(--ion-color-black) !important;
  }

  .ion-color-gray{
    --ion-color-base: var(--ion-color-gray) !important;
  }

  //tipografia
  --ion-font-family: 'font-primary';

  @font-face {
    font-family: 'font-primary';
    font-style: normal;
    font-weight: normal;
    src: url('../assets/fonts/Roboto-Regular.ttf');
  }




/* ============================================= Estilos para checkbox y radio =============================================
  -referencias: https://kyusuf.com/post/completely-css-custom-checkbox-radio-buttons-and-select-boxes/ 
================================================================================================================================*/
.control__indicator {
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  background: #fff;
  border: 1px solid var(--ion-color-green);
  border-radius: 3px;
}

.control--radio .control__indicator {
  border-radius: 50%;
}

.control {
  font-size: 12px;
  position: relative;
  display: block;
  margin-bottom: 10px;
  padding-left: 30px;
  padding-top: 5px;
  cursor: pointer;
}

.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

/* Hover and focus states */
.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
background: #ccc;
}

/* Checked state */
.control input:checked ~ .control__indicator {
background: var(--ion-color-green);;
}

/* Hover state whilst checked */
.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
background: var(--ion-color-greenLow);;
}

/* Disabled state */
.control input:disabled ~ .control__indicator {
pointer-events: none;
opacity: .6;
background: #e6e6e6;
}

/* Check mark */
.control__indicator:after {
position: absolute;
display: none;
content: '';
}

/* Show check mark */
.control input:checked ~ .control__indicator:after {
display: block;
}

/* Checkbox tick */
.control--checkbox .control__indicator:after {
top: 4px;
left: 8px;
width: 3px;
height: 8px;
transform: rotate(45deg);
border: solid #fff;
border-width: 0 2px 2px 0;
}

/* Disabled tick colour */
.control--checkbox input:disabled ~ .control__indicator:after {
/*border-color: #7b7b7b;*/
border-color: #28e070;
}

/* Radio button inner circle */
.control--radio .control__indicator:after {
top: 7px;
left: 7px;
width: 6px;
height: 6px;
border-radius: 50%;
background: #fff;
}

/* Disabled circle colour */
.control--radio input:disabled ~ .control__indicator:after {
background: #7b7b7b;
}

}
