<ion-header>
  <ion-toolbar color="blue" class="ion-text-center">
    <ion-col slot="start">
      <ion-buttons>
        <ion-back-button color="blanco" defaultHref="/" text=""></ion-back-button>
      </ion-buttons>
    </ion-col>
    <ion-col>
      <img routerLink="/inicio" style="height: 55px;padding: 3px;" src="assets/logo.svg" alt="logo">
    </ion-col>
    <ion-col slot="end"></ion-col>
  </ion-toolbar>
  <ion-row class="bordo" class="head" style="background: #3C3967 !important;">
    <ion-col>
      <ion-item>
        <ion-input style="margin-top: -10px !important;" required="true" placeholder="Buscar cliente por nombre"
          [autofocus]="true" #txtBusqueda_ id="txtBusqueda" type="search" clearInput
          (ionChange)="ObtenerCoincidenciasClientes()" debounce="500" [(ngModel)]="txtBusqueda"></ion-input>
        <ion-icon color="blanco"
          style="background: #A6C038 !important; padding-bottom: 12px !important; width: 2.0em; height: 1.5em;"
          name="md-search"></ion-icon>
      </ion-item>
    </ion-col>
  </ion-row>
</ion-header>

<ion-content>
  <layer></layer>
  <ion-card style="width: 100%; margin: 0px;" *ngIf="this.clientes.length > 0">
    <ion-list lines="full"
      style=" height:100% !important; padding: 0px !important;margin: 0px !important; width: 100% !important; ">
      <ion-item button detail="true" lines="none" mode="md" class="item-ripple" *ngFor="let item of this.clientes;"
      (click) = "OnSeleccionCliente(item)">
        <ion-label class="ion-text-wrap">
          <ion-text color="#222">
            <h3>{{item.nombre}}: </h3>
          </ion-text>
          <p>{{item.email}}</p>
          <ion-text color="green">
            <p>{{item.telefono}}</p>
          </ion-text>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-card>

  <ion-card style="width: 100%; margin: 0px; height: 100%; background-color: transparent !important;"
    *ngIf="this.mostrarloading">
    <ion-row>
      <ion-col>
        <ion-progress-bar type="indeterminate" reversed="true"></ion-progress-bar>
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-card style="width: 100%; margin: 0px; height: 100%; background-color: #ffffffab !important;"
    *ngIf="this.clientes == null || this.clientes.length == 0">
    <ion-row style="width: 100%; top: 50%; position: fixed;">
      <ion-col class="ion-text-center">
        <h3 class="vertical-center">Realize una busqueda por nombre del cliente</h3>
      </ion-col>
    </ion-row>
  </ion-card>




</ion-content>