<ion-header>
  <ion-toolbar color="blue" class="ion-text-center">
    <ion-col slot="start">
      <ion-buttons>
        <ion-back-button color="blanco" defaultHref="/" text=""></ion-back-button>
      </ion-buttons>
    </ion-col>
    <ion-col>
      <img routerLink="/inicio" style="height: 55px;padding: 3px;" src="assets/logo.svg" alt="logo">
    </ion-col>
    <ion-col slot="end"></ion-col>
  </ion-toolbar>
</ion-header>

<ion-content>
  <layer></layer>
  <ion-card style="background-color: white;" class="animated fadeIn slow">
    <ion-card-header style="padding: 0px !important; padding-bottom: 15px !important;">
      <ion-row style="height: 50px !important; padding-top: 12px !important;">
        <ion-col class="ion-text-center">
          <ion-label style="font-size:20px;" color="blue">Crear Pick and Pack</ion-label>
          <div *ngIf="pickAndPackEnCurso" style="position: absolute;right: 0px;top: 4px;">
            <ion-button size="small" fill="clear" (click)="AlertaCancelarPickPack()" color="red" style="font-size: 9px;">Cancelar</ion-button>
          </div>
        </ion-col>
        <ion-item-divider></ion-item-divider>
      </ion-row>
    </ion-card-header>
    <ion-card-content>
      <ion-row>
        <ion-col size="12">
          <div class="inputs">
            <ion-input *ngIf="cliente == null" class="input_" type="text" placeholder="Busca a un cliente"
              (ionChange)="ObtenerCoincidenciasClientes()" debounce="500" [(ngModel)]="txtBusqueda">
            </ion-input>
            <button *ngIf="cliente == null" class="usericonbox" (click)="ObtenerCoincidenciasClientes()">
              <ion-icon name="search"></ion-icon>
            </button>
            <ion-input [disabled]="true" *ngIf="cliente != null" class="input_ disabled" type="text"
              placeholder="Nombre" value="{{cliente.nombres}}"></ion-input>
          </div>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="this.mostrarloading">
        <ion-col>
          <ion-progress-bar type="indeterminate" reversed="true" color="blue"></ion-progress-bar>
        </ion-col>
      </ion-row>
      <ion-card *ngIf="clientes.length > 0" style="margin-top: 0px;">
        <ion-card-header style="padding: 0px !important; padding-bottom: 15px !important;">
          <ion-row>
            <ion-col class="ion-text-center">
              <ion-label style="font-size:16px;" color="blue">Selecciona un cliente</ion-label>
            </ion-col>
            <ion-item-divider></ion-item-divider>
          </ion-row>
        </ion-card-header>
        <ion-list lines="full"
          style=" height:100% !important; padding: 0px !important;margin: 0px !important; width: 100% !important; ">
          <ion-item button detail="true" lines="none" mode="md" class="item-ripple" *ngFor="let item of this.clientes;"
            (click)="OnSeleccionCliente(item)">
            <ion-label class="ion-text-wrap">
              <ion-text color="#222">
                <h4>{{item.nombre}}</h4>
              </ion-text>
              <p>{{item.email}}</p>
              <ion-text color="green">
                <p>{{item.telefono}}</p>
              </ion-text>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-card>
      <ion-row *ngIf="cliente != null">
        <ion-col size="12">
          <div class="inputs">
            <ion-input [disabled]="true" class="input_ disabled" type="text" placeholder="E-mail"
              value="{{cliente.correo}}"></ion-input>
          </div>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="cliente != null">
        <ion-col size="12">
          <div class="inputs">
            <ion-input [disabled]="true" class="input_ disabled" type="text" placeholder="Telefono"
              value="{{cliente.telefono}}"></ion-input>
          </div>
        </ion-col>
      </ion-row>

      <div>
        <ion-grid>
          <ion-item button detail="true" lines="none" mode="md" class="item-ripple" disabled="{{!pickAndPackEnCurso}}"
            (click)="GoBusquedaDireccion()" *ngIf="cliente != null">
            <ion-label class="ion-text-wrap">
              <ion-text>
                <strong>
                  <h3>Dirección: </h3>
                </strong>
              </ion-text>
              <p *ngIf="direccion==null">Buscar dirección</p>
              <div *ngIf="direccion!=null">
                <p style="font-size: 12px !important; color: #222;">
                  {{direccion.calle}} # {{direccion.noExterior}}&nbsp;{{direccion.colonia}}
                </p>
                <p style="font-size: 12px !important; color: #222;">
                  {{direccion.municipio}}&nbsp;{{direccion.estado}},{{direccion.pais}}
                </p>
                <p style="font-size: 12px !important; color: #222;">
                  <strong>Código Postal: </strong> {{direccion.codigoPostal}}
                </p>
                <p style="font-size: 12px !important; color: #222;">
                  <strong>Teléfono de contacto: </strong> <label style="color: #A6C038">{{direccion.telefonoContacto}}
                  </label>
                </p>
              </div>
            </ion-label>
          </ion-item>
          <ion-item button detail="true" lines="none" mode="md" class="item-ripple" disabled="{{!pickAndPackEnCurso}}"
            (click)="GoBusquedaMascota()" *ngIf="cliente != null">
            <ion-label class="ion-text-wrap">
              <ion-text>
                <strong>
                  <h3>Mascota: </h3>
                </strong>
              </ion-text>
              <p *ngIf="mascota==null">Buscar mascota</p>
              <div *ngIf="mascota!=null">
                <p style="font-size: 12px !important; color: #222;">
                  <strong>Nombre: </strong> {{mascota.nombreMascota}}
                </p>
                <p style="font-size: 12px !important; color: #222;">
                  <strong>Raza: </strong> <label style="color: #A6C038">{{mascota.raza}}
                  </label>
                </p>
              </div>
            </ion-label>
          </ion-item>
        </ion-grid>
      </div>

      <div *ngIf="cliente != null" style="width: 100% !important;">
        <ion-row>
          <div class="control-group">
            <ion-label style="color: #000; font-size: 14px;">Frecuencia de Entrega: </ion-label>
            <label class="control control--checkbox">Única entrega
              <input type="radio" name="frecuencia" [checked]="entregaUnica" (click)="OnCambioFrecuencia(1)"/>
              <div class="control__indicator"></div>
            </label>
            <label class="control control--checkbox">Mensual
              <input type="radio" name="frecuencia" [checked]="entregaMensual" (click)="OnCambioFrecuencia(2)"/>
              <div class="control__indicator"></div>
            </label>
            <div style="margin-top: -30px;position: absolute;right: 40px;">
              <label style="font-size: 12px;">Día: </label>
              <ion-select [(ngModel)]="pickAndPack.diaEntrega" [disabled] = "!entregaMensual"  
              placeholder="1" cancelText="Cerrar" okText="Aceptar"
              (ionChange)="CambiarCantidadDiaFrecuencia()"
                style="border-radius: 3px !important;
                padding: 0px !important;
                border: 1px solid gray;
                float: right;
                text-align: center;
                height: 20px;
                margin-left: 5px;
                font-size: 12px;
                font-weight: 600;
                color: var(--ion-color-green) ">
                <ion-select-option *ngFor="let item of [1,2,3,4,5,6,7,8,9,10]; let i = index;" value="{{i+1}}">
                  <span>{{i+1}}</span>
                </ion-select-option>
              </ion-select>
            </div>
          </div>
        </ion-row>
      </div>
      <hr>
      <ion-row *ngIf="cliente != null">
        <ion-col>
          <ion-button style="text-transform: none" expand="block" color="blue" (click)="GoProductosPickAndPack()">
            <h2 style="color: #fff;">CONTINUAR</h2>
          </ion-button>
        </ion-col>
      </ion-row>

    </ion-card-content>
  </ion-card>

</ion-content>