/*==================    splash  ====================*/
.splash-content{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3C3967;
  }

  .splash-content img{
    
    margin-top: -25% !important;
  }

  /*================== end splash  ====================*/