<ion-header>
  <ion-toolbar color="blue" class="ion-text-center">
    <ion-col slot="start">
      <ion-buttons>
        <ion-back-button color="blanco" defaultHref="/" text=""></ion-back-button>
      </ion-buttons>
    </ion-col>
    <ion-col>
      <img routerLink="/inicio" style="height: 55px;padding: 3px;" src="assets/logo.svg" alt="logo">
    </ion-col>
    <ion-col slot="end"></ion-col>
  </ion-toolbar>
  <ion-row class="bordo" class="head" style="background: #3C3967 !important;">
    <ion-col>
      <ion-item>
        <ion-input style="margin-top: -10px !important;" required="true" placeholder="¿Qué producto buscas?"
          (ionChange)="OnFiltrarProductos()" clearInput autofocus="true" debounce="500" [(ngModel)]="txtBusqueda"></ion-input>
        <ion-icon color="blanco"
          style="background: #A6C038 !important; padding-bottom: 12px !important; width: 2.0em; height: 1.5em;"
          name="md-search"></ion-icon>
      </ion-item>
    </ion-col>
  </ion-row>
</ion-header>


<ion-content>
  <layer></layer>
  <ion-row *ngIf="this.mostrarloading">
    <ion-col>
      <ion-progress-bar type="indeterminate" reversed="true" color="blue"></ion-progress-bar>
    </ion-col>
  </ion-row>
  <ion-card style="border-radius: 10px !important;">
    <ion-card *ngFor="let item of this.productos"
      style=" padding: 0px !important;margin: 0px !important;  height: auto !important; border-radius:0px !important;"
       color="blanco">
      <ion-card-content *ngIf="!this.mostrarloading" style="padding-top: 0px !important;">
        <ion-row>
          <ion-col>
            <ion-label style="font-size: 14px;"> 
              <strong>{{item.sustancia}}</strong>
            </ion-label>
          </ion-col>
        </ion-row>
        <ion-row style="margin-top: -5px !important;">
          <ion-col style="padding-top: 0px !important;" size="10">
            <ion-label color="green">
              ${{item.precio}} USD
            </ion-label>
            <!--<ion-label color="greenLow" style="padding-left: 3px !important;">
                -10%
              </ion-label>-->
          </ion-col>

        </ion-row>
        <ion-row style="margin-top: -5px !important;">
          <ion-col style="padding-top: 0px;" class="ion-text-left">
            <ion-label> <span style="font-weight: 600;">Clasificacion:</span> {{item.clasificacion}}</ion-label>
          </ion-col>
        </ion-row>
        <ion-row style="margin-top: -10px !important;">
          <ion-col>
            <ion-label style="font-weight: 600;">Descripción:</ion-label>
          </ion-col>
          <ion-col style="margin-top: -10px !important;" size="12">
            <ion-label>
              {{item.descripcion}}
            </ion-label>
          </ion-col>
          <ion-col
            style="margin-top: -10px !important;text-align: right;padding: 0px !important; margin-bottom: -15px !important;">
            <ion-button size="small" fill="clear" (click)="AddProductoPickPack(item.idSustancia)" color="blue"
              style="font-size: 11px;">
              Agregar</ion-button>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
    <ion-card *ngIf="!this.mostrarloading && this.productos!= null && this.productos.length <= 0"
    style=" padding: 0px !important;margin: 0px !important;  height: auto !important; border-radius:0px !important; text-align: center;"
       color="blanco">
      <ion-label style="display: inline-block;padding: 20px; font-size: 18px;" color="gray">¡No se encontraron coincidencias de productos!</ion-label>
    </ion-card>
  </ion-card>
</ion-content>