ion-item-divider{
    margin-top: 0px;
    min-height: 1px !important;
}

.head ion-item{
    border-radius: 3px !important;
    box-shadow: 0px 0px 0px;
    font-size: 0.8em;
    max-height: 38px;
    --highlight-color-valid: transparent;
    --highlight-color-invalid: transparent;
    --highlight-color-focused: transparent; /*var(--ion-color-green)*/;
    --padding-start: 10px;
    --inner-padding-end: 0;
  }