<ion-header>
  <ion-toolbar color="blue" class="ion-text-center">
    <ion-col slot="start">
      <ion-buttons>
        <ion-back-button color="blanco" defaultHref="/" text=""></ion-back-button>
      </ion-buttons>
    </ion-col>
    <ion-col>
      <img routerLink="/inicio" style="height: 55px;padding: 3px;" src="assets/logo.svg" alt="logo">
    </ion-col>
    <ion-col slot="end"></ion-col>
  </ion-toolbar>
</ion-header>

<ion-content>
  <layer></layer>
  <ion-card style="background-color: #fff;">
    <ion-card-header style="padding: 0px !important; padding-bottom: 15px !important;">
      <ion-row style="height: 50px !important; padding-top: 12px !important;">
        <ion-col class="ion-text-center">
          <ion-label style="font-size:20px;" color="blue">Pick and Packs</ion-label>
        </ion-col>
        <ion-item-divider></ion-item-divider>
      </ion-row>
    </ion-card-header>
    <ion-card-content>
      <ion-row>
        <ion-col size="12">
          <div class="inputs">
            <ion-input class="input_" type="text" placeholder="Busca a un cliente"
              (ionChange)="OnFiltrarPedidosClientes()" debounce="500" [(ngModel)]="txtBusqueda">
            </ion-input>
            <button class="usericonbox" (click)="OnFiltrarPedidosClientes()">
              <ion-icon name="search"></ion-icon>
            </button>
          </div>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="this.mostrarloading">
        <ion-col>
          <ion-progress-bar type="indeterminate" reversed="true" color="blue"></ion-progress-bar>
        </ion-col>
      </ion-row>
      <ion-card *ngIf="clientes.length > 0" style="margin-top: 0px;">
        <ion-card-header style="padding: 0px !important; padding-bottom: 15px !important;">
          <ion-row>
            <ion-col class="ion-text-center">
              <ion-label style="font-size:16px;" color="blue">Selecciona un cliente</ion-label>
            </ion-col>
            <ion-item-divider></ion-item-divider>
          </ion-row>
        </ion-card-header>
        <ion-list lines="full"
          style=" height:100% !important; padding: 0px !important;margin: 0px !important; width: 100% !important; ">
          <ion-item button detail="true" lines="none" mode="md" class="item-ripple" *ngFor="let item of this.clientes;"
           >
            <ion-label class="ion-text-wrap">
              <ion-text color="#222">
                <h4>{{item.nombre}}</h4>
              </ion-text>
              <p>{{item.email}}</p>
              <ion-text color="green">
                <p>{{item.telefono}}</p>
              </ion-text>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-card>

      <div style="background-color: white;border:none; border: 3px dashed gray; 
      margin-top: 10px !important; border-radius: 3px; width: 95%;margin: auto;">
        <ion-row>
          <ion-col class="ion-text-center">
            <ion-button style="color: #ececec !important;" fill="clear" (click)="GoNuevaPickAndPack()">
              <ion-icon style="font-size: 50px;" name="add"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="ion-text-center">
            <ion-button fill="clear" (click)="GoNuevaPickAndPack()">
              <h2><strong>Crear Pick and Pack</strong></h2>
            </ion-button>
          </ion-col>
        </ion-row>
      </div>
      
      <ion-card *ngFor="let pedido of pickAndPacks" (click)="GoDetallePickPack(pedido)"
        style="background-color: #EBEBEB !important;  margin-top: 5px !important; border-radius: 5px; box-shadow: 0px 5px 8px #00000030;">
        <ion-row>
          <ion-col size="5">
            <img src="../assets/img/order.png" alt="todo" style="padding: 10px; ">
          </ion-col>
          <ion-col size="7">
            <ion-row>
              <ion-col>
                <ion-text style="font-size:13px !important;" color="black">Fecha: {{pedido.fechaAlta}}</ion-text>
              </ion-col>
            </ion-row>
            <ion-row style="margin-top: -10px;">
              <ion-col>
                <ion-label style="font-size:13px !important;">Estatus:</ion-label>
              </ion-col>
            </ion-row>
            <ion-row style="margin-top: -8px;">
              <ion-col style="padding-top: 0px !important;">
                <ion-label color="{{pedido.color}}" style="font-size:11px !important; font-weight: 600">
                  <!--{{clienteSeleccionado.nombres}}--> {{pedido.estatus}}</ion-label>
              </ion-col>
            </ion-row>
            <ion-row style="margin-top: -10px;">
              <ion-col>
                <ion-label style="font-size:13px !important;">Frecuencia de entrega:</ion-label>
              </ion-col>
            </ion-row>
            <ion-row style="margin-top: -8px;">
              <ion-col style="padding-top: 0px !important;">
                <ion-label color="green" style="font-size:11px !important; font-weight: 600;">
                  <!--{{clienteSeleccionado.nombres}}--> {{pedido.frecuenciaEntrega}}</ion-label>
              </ion-col>
            </ion-row>
          </ion-col>
          <ion-col size="12">
            <ion-row style="margin-top: -20px;">
              <ion-col class="ion-text-center">
                <ion-label style="font-weight: 600; font-size: 12px;">Cliente:</ion-label>
              </ion-col>
            </ion-row>
            <ion-row style="margin-top: -15px;">
              <ion-col class="ion-text-center">
                <ion-label style="font-weight: 600; font-size: 12px; color: #222;">{{pedido.nombre}}
                </ion-label>
              </ion-col>
            </ion-row>
            <div class="ion-text-center"
              style="background-color:#CBCBCB !important; margin: 0px !important; padding: 0px !important; margin-bottom: 7px !important;">
              <ion-text style="font-size:18px !important; color: white !important;">Nº de Folio:</ion-text>
              <ion-text style="font-size:18px !important;" color="black"> {{pedido.idPickPackClienteERP}}</ion-text>
            </div>
          </ion-col>
        </ion-row>
       
      </ion-card>

    </ion-card-content>
  </ion-card>

</ion-content>
