<ion-header>
  <ion-toolbar color="blue" class="ion-text-center">
    <ion-col slot="start">
      <ion-buttons>
        <ion-back-button color="blanco" defaultHref="/" text=""></ion-back-button>
      </ion-buttons>
    </ion-col>
    <ion-col>
      <img routerLink="/inicio" style="height: 55px;padding: 3px;" src="assets/logo.svg" alt="logo">
    </ion-col>
    <ion-col slot="end"></ion-col>
  </ion-toolbar>
</ion-header>

<ion-content>
  <layer></layer>
  <ion-card *ngIf="this.producto!=null" color="blanco">
    <ion-card-header>
      <ion-slides>
        <ion-slide *ngFor="let item of this.producto.imagenes">
          <img style="height: 250px !important;" src="{{item.path}}" alt="imagen">
        </ion-slide>
      </ion-slides>
    </ion-card-header>
    <ion-item-divider></ion-item-divider>
    <ion-card-content>
      <div style="padding: 10px !important;">
        <ion-row style="padding: 0px !important;">
          <ion-col style="padding: 0px !important;">
            <p>{{this.producto.cantidadVendidos}} vendidos</p>
          </ion-col>
        </ion-row>
        <ion-row style="padding: 0px !important;">
          <ion-col style="padding: 0px !important;">
            <ion-label style="font-size: 2.0em; color: #222 !important;">
              {{this.producto.nombre_producto}}
            </ion-label>
          </ion-col>
        </ion-row>
        <ion-row style="padding: 0px !important;">
          <ion-col style="padding: 0px !important;">
            por <ion-label color="primary" style="font-size: 0.8em;">{{this.producto.proveedor}}</ion-label>
          </ion-col>
        </ion-row>
        <ion-row style="padding: 0px !important;">
          <ion-col style="padding: 0px !important;">
            <ion-row style="padding: 0px !important;">
              <ion-icon style="color: #ffcc00 !important; width: 1.1em !important; height: 1.1em !important;"
                *ngIf="myRatingPromedio>=1" name="md-star"></ion-icon>
              <ion-icon style="color: #ffcc00 !important; width: 1.1em !important; height: 1.1em !important;"
                *ngIf="myRatingPromedio>=2" name="md-star"></ion-icon>
              <ion-icon style="color: #ffcc00 !important; width: 1.1em !important; height: 1.1em !important;"
                *ngIf="myRatingPromedio>=3" name="md-star"></ion-icon>
              <ion-icon style="color: #ffcc00 !important; width: 1.1em !important; height: 1.1em !important;"
                *ngIf="myRatingPromedio>=4" name="md-star"></ion-icon>
              <ion-icon style="color: #ffcc00 !important; width: 1.1em !important; height: 1.1em !important;"
                *ngIf="myRatingPromedio>=5" name="md-star"></ion-icon>
              <ion-icon style="width: 1.1em !important; height: 1.1em !important; color: #ffcc00 !important;"
                *ngIf="myRatingPromedio%1!=0" name="md-star-half"></ion-icon>
              <ion-icon style="color: #ececec !important; width: 1.1em !important; height: 1.1em !important;"
                *ngIf="myRatingPromedio==0" name="md-star-outline"></ion-icon>
              <ion-icon style="color: #ececec !important; width: 1.1em !important; height: 1.1em !important;"
                *ngIf="myRatingPromedio<=1" name="md-star-outline"></ion-icon>
              <ion-icon style="color: #ececec !important; width: 1.1em !important; height: 1.1em !important;"
                *ngIf="myRatingPromedio<=2" name="md-star-outline"></ion-icon>
              <ion-icon style="color: #ececec !important; width: 1.1em !important; height: 1.1em !important;"
                *ngIf="myRatingPromedio<=3" name="md-star-outline"></ion-icon>
              <ion-icon style="color: #ececec !important; width: 1.1em !important; height: 1.1em !important;"
                *ngIf="myRatingPromedio<=4" name="md-star-outline"></ion-icon>
              <ion-label color="green" style="font-size: 0.7em;">Opiniones de los clientes</ion-label>
            </ion-row>
          </ion-col>
        </ion-row>
        <ion-row style="padding: 0px !important;">
          <ion-col style="padding: 0px !important;">
            <ion-label style="font-size: 1.2em; color: #222 !important;">Precio: </ion-label>
            <ion-label style="font-size: 1.5em; color: #222 !important;">${{this.producto.precio}} USD</ion-label>
          </ion-col>
        </ion-row>
      </div>
      <ion-item-divider></ion-item-divider>
      <ion-row style="padding: 0px !important;">
        <ion-col size="12" style="padding: 10px !important;">
          <ion-label style="font-size: 1.2em; color: #222 !important;">
            Ubicación
          </ion-label>
        </ion-col>
        <ion-col size="5" class="col-ubicacion">
          <ion-label>Bodega: </ion-label>
          <ion-label color="green" >{{producto.ubicacion.bodega}}</ion-label>
        </ion-col>
        <ion-col size="6" class="col-ubicacion">
          <ion-label>Pasillo: </ion-label>
          <ion-label color="green" >{{producto.ubicacion.pasillo}}</ion-label>
        </ion-col>
        <ion-col size="5" class="col-ubicacion">
          <ion-label>Anaquel: </ion-label>
          <ion-label color="green" >{{producto.ubicacion.anaquel}}</ion-label>
        </ion-col>
        <ion-col size="6" class="col-ubicacion">
          <ion-label>Nivel: </ion-label>
          <ion-label color="green" >{{producto.ubicacion.nivel}}</ion-label>
        </ion-col>
        <ion-col size="5" class="col-ubicacion">
          <ion-label>Columna: </ion-label>
          <ion-label color="green" >{{producto.ubicacion.columna}}</ion-label>
        </ion-col>
      </ion-row>
      <ion-row style="padding: 0px !important;">
        <ion-col style="padding: 0px !important; padding-left: 10px !important;">
          <ion-label style="font-size: 1.2em; color: #222 !important;">
            Existencias:
          </ion-label>
          <ion-label color="green" >{{producto.existencias}}</ion-label>
        </ion-col>
      </ion-row>
      <ion-row style="padding: 0px !important; padding-top: 5px !important;">
        <ion-col style="padding: 0px !important; padding-left: 10px !important;">
          <ion-label style="font-size: 14px; color: #222 !important; font-weight: 600;">
            Evento
          </ion-label>
        </ion-col>
        <ion-col style="padding: 0px !important; padding-left: 10px !important;" class="ion-text-center">
          <ion-label style="font-size: 14px; color: #222 !important; font-weight: 600;">
            Cantidad
          </ion-label>
        </ion-col>
      </ion-row>
      <ion-row *ngFor="let evento of producto.existenciasProducto" >
        <ion-col size="6" class="col-ubicacion">
          <ion-label>{{evento.evento}}</ion-label>
        </ion-col>
        <ion-col size="6" class="col-ubicacion ion-text-center" >
          <ion-label>{{evento.existencia}}</ion-label>
        </ion-col>
      </ion-row>
      <ion-item-divider></ion-item-divider>
      <ion-row style="padding: 0px !important;">
        <ion-col style="padding: 10px !important;">
          <ion-label style="font-size: 1.2em; color: #222 !important;">
            Descripcion
          </ion-label>
          <p [innerHTML]="this.producto.descripcion_larga"
            style="padding-top: 10px !important; justify-content: center !important;"></p>
        </ion-col>
      </ion-row>
      <ion-item-divider></ion-item-divider>

      <div>

        <ion-card *ngIf="this.producto.colorTalla.length > 0">
          <ion-item>
            <ion-label style="font-size: 13px !important;">Color:</ion-label>
            <ion-select [(ngModel)]="idColor" (ionChange)="OnObtenerTallas()">
              <div *ngFor="let item2 of this.producto.colorTalla">
                <ion-select-option value="{{item2.idColor}}">{{item2.color}}</ion-select-option>
              </div>
            </ion-select>
          </ion-item>
        </ion-card>

        <ion-card *ngIf="this.tallasColor.length > 0">
          <ion-item>
            <ion-label style="font-size: 13px !important;">Talla: Elige una opcion...</ion-label>
            <ion-select [(ngModel)]="idTalla">
              <div *ngFor="let item2 of this.tallasColor">
                <ion-select-option value="{{item2.idTalla}}">{{item2.talla}}</ion-select-option>
              </div>
            </ion-select>
          </ion-item>
        </ion-card>

        <ion-card>
          <ion-item>
            <ion-label style="font-size: 13px !important;">Cantidad:</ion-label>
            <ion-select [(ngModel)]="cantidad">
              <div *ngFor="let item3 of cbxCantidades; let i = index;">
                <ion-select-option value="{{i+1}}">{{i+1}}</ion-select-option>
              </div>
            </ion-select>
          </ion-item>
        </ion-card>
      </div>
      <!--
    <ion-row>
      <ion-col class="ion-text-center" style="display:  none;">
        <ion-button  expand="block" color="green">
          <h2 style="color: #222;">Realizar pedido</h2>
        </ion-button>
      </ion-col>
    </ion-row>
  -->
      <ion-row *ngIf="this.utils.pedidoEnCurso != null">
        <ion-col class="ion-text-center">
          <ion-button (click)="OnAgregarProductoPedido()" color="green" 
          expand="block" fill="outline">Agregar al pedido en curso</ion-button>
        </ion-col>
      </ion-row>

    </ion-card-content>
  </ion-card>
</ion-content>