ion-item-divider{
    margin-top: 0px;
    min-height: 1px !important;
  }
  
  ion-item{
       border-radius: 3px !important;
      box-shadow: 0px 0px 0px;
       font-size: 0.8em;
       max-height: 38px;
       --highlight-color-valid: transparent;
     --highlight-color-invalid: transparent;
     --highlight-color-focused: var(--ion-color-light);
     --padding-start: 5px;
   --inner-padding-end: 0;
     }
  
     .mover {
    overflow-y: auto !important;
  }
  
  ion-input{
    padding-bottom: 5px !important;
  }
  
  .sobre{
  position: absolute;
  top: calc(2%);
  left: calc(2%);
  }
  
  .vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  }
  
  .verticalLine {
    width:1%;
    height:50px;
    background:white;
    margin: auto;
  }
  
    .si{
      border-bottom:0.5em solid #A6C038;
    }
  
  ion-card {
    padding: 0px !important;
  }
  
  ion-card-content {
    padding: 0px !important;
  }
  
  ion-card-header {
    padding: 0px !important;
  }

  .col-ubicacion{
    font-size: 12px; 
    padding: 0px !important;
    padding-left: 10px !important;
  }