<ion-header>
  <ion-toolbar color="blue" class="ion-text-center">
    <ion-col slot="start">
      <ion-buttons>
        <ion-back-button color="blanco" defaultHref="/" text=""></ion-back-button>
      </ion-buttons>
    </ion-col>
    <ion-col>
      <img routerLink="/inicio" style="height: 55px;padding: 3px;" src="assets/logo.svg" alt="logo">
    </ion-col>
    <ion-col slot="end"></ion-col>
  </ion-toolbar>
</ion-header>

<ion-content>
  <layer></layer>
  <ion-card style="background-color: #fff;">
    <ion-card-content *ngIf="pedido != null">
      <ion-row>
        <ion-col class="ion-text-center">
          <ion-label color="blue" style="font-size: 16px !important; font-weight: 600;">
            Pedidos Realizados
          </ion-label>
        </ion-col>
      </ion-row>

      <ion-row style="background: var(--ion-color-blue)">
        <ion-col style="padding: 0px !important;" class="ion-text-center">
          <ion-label color="blanco">
            <strong>
              N° de Folio: {{pedido.idPedido}}
            </strong>
          </ion-label>
        </ion-col>
      </ion-row>
      <ion-row style="background: var(--ion-color-blue)">
        <ion-col style="padding: 0px !important;" class="ion-text-center">
          <ion-label color="{{colorEstatus}}">
            <strong>{{pedido.statusPedido}}</strong>
          </ion-label>
        </ion-col>
      </ion-row>

      <div
        style="padding-top: 8px !important; padding-left: 8px !important; padding-right: 8px !important; padding-bottom: 0px !important;">

        <ion-row style="padding-top: 5px !important; padding-bottom: 0px !important;">
          <ion-col style="padding-top: 0px !important; padding-bottom: 0px !important;">
            <ion-label style="font-size: 15px !important; color: #000 !important;">
              Nombre:
            </ion-label>
          </ion-col>
        </ion-row>
        <ion-row style="padding-top: 0px !important; padding-bottom: 0px !important;">
          <ion-col size="12" style="padding-top: 0px !important; padding-bottom: 0px !important;">
            <ion-label style="font-size: 12px !important;">
              {{pedido.nombreCompleto}}
            </ion-label>
          </ion-col>
        </ion-row>

        <ion-row style="padding-top: 5px !important; padding-bottom: 0px !important;">
          <ion-col style="padding-top: 0px !important; padding-bottom: 0px !important;">
            <ion-label style="font-size: 15px !important; color: #000 !important;">
              Correo electrónico:
            </ion-label>
          </ion-col>
        </ion-row>
        <ion-row style="padding-top: 0px !important; padding-bottom: 0px !important;">
          <ion-col size="12" style="padding-top: 0px !important; padding-bottom: 0px !important;">
            <ion-label style="font-size: 12px !important;">
              {{pedido.email}}
            </ion-label>
          </ion-col>
        </ion-row>

        <ion-row style="padding-top: 10px !important;">
          <ion-col>
            <ion-label style="font-size: 15px !important; color: #000 !important;">
              Dirección:
            </ion-label>
          </ion-col>
        </ion-row>

      </div>

      <ion-card style="background: #ececec !important; padding: 15px !important;">

        <ion-row>
          <ion-col style="padding: 0px !important;" class="ion-text-center">
            <ion-label style="color: #222 !important; font-size: 12px !important;">
              <strong>{{pedido.nombreCompleto}}</strong>
            </ion-label>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col style="padding: 0px !important;" class="ion-text-left">
            <ion-label style="color: #222 !important; font-size: 12px !important;">
              <strong>Dirección:</strong> {{pedido.calle}} #{{pedido.noExterior}} {{pedido.colonia}},
              {{pedido.noExterior}}

            </ion-label>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col style="padding: 0px !important;" class="ion-text-left">
            <ion-label style="color: #222 !important; font-size: 12px !important;">
              <strong>Código Postal: </strong> {{pedido.codigoPostal}}
            </ion-label>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col style="padding: 0px !important;" class="ion-text-left">
            <ion-label style="color: #222 !important; font-size: 12px !important;">
              <strong>Ciudad y Estado: </strong> {{pedido.municipio}}, {{pedido.estado}}
            </ion-label>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col style="padding: 0px !important;" class="ion-text-left">
            <ion-label style="color: #222 !important; font-size: 12px !important;">
              <strong>País: </strong> {{pedido.pais}}
            </ion-label>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col style="padding: 0px !important;" class="ion-text-left">
            <ion-label style="color: #222 !important; font-size: 12px !important;">
              <strong>Télefono celular: </strong> {{pedido.telefonoContacto}}
            </ion-label>
          </ion-col>
        </ion-row>

      </ion-card>

      <div
        style="padding-top: 8px !important; padding-left: 8px !important; padding-right: 8px !important; padding-bottom: 0px !important;">
        <ion-row>
          <ion-col size="9" class="ion-text-left">
            <ion-label style="color: #222 !important; font-size: 14px !important;">
              Productos:
            </ion-label>
          </ion-col>
          <ion-col class="ion-text-left" style="padding-left: 0px !important;">
            <ion-label style="color: #222 !important; font-size: 14px !important;">
              Cantidad:
            </ion-label>
          </ion-col>
        </ion-row>

        <ion-row *ngFor="let item of productos">
          <ion-col size="2">
            <img style="height: 40px !important; width: 40px !important; border-radius: 3px !important;" src="{{item.imagen}}" alt="">
          </ion-col>
          <ion-col size="7">
            <ion-label style="color: #222 !important; font-size: 12px !important;">
              {{item.nombreProducto}}
            </ion-label>
          </ion-col>
          <ion-col style="padding-left: 5px !important;" size="2">
            <ion-label color="green" style="font-size: 12px !important;">
              {{item.unidadesSolicitadas}}
            </ion-label>
          </ion-col>
        </ion-row>


      </div>

      <ion-item-divider></ion-item-divider>

      <ion-row>
        <ion-col class="ion-text-center">
          <ion-label color="blue" style="font-size: 16px !important;">
            <strong>TOTAL DEL PEDIDO</strong>
          </ion-label>
        </ion-col>
      </ion-row>

      <!--<ion-row>
        <ion-col class="ion-text-center">
          <ion-label color="green" style="font-size: 16px !important;">
            <strong>${{pedido.montoActual}} USD</strong>
          </ion-label>
        </ion-col>
      </ion-row>-->

      <ion-row>
        <ion-col size="12" class="ion-text-center">
          <ion-label color="green" style="font-size: 18px !important;">
            <strong>$ {{pedido.montoActual}} USD</strong>
          </ion-label>
        </ion-col>
        <ion-col class="ion-text-center" style="margin-top: -10px !important;">
          <ion-label style="font-size: 12px !important; color: #8F8F8F !important;">
            <strong>$ {{pedido.montoActualPesos}} MX</strong>
          </ion-label>
        </ion-col>
      </ion-row>



      <ion-row *ngIf="pedido.idStatusPedido == 1"> 
        <ion-col class="ion-text-center">
          <ion-button style="text-transform: none" expand="block" color="red">
            <h2 style="color: #fff;" (click)="AlertaCancelarPedido()">CANCELAR PEDIDO</h2>
          </ion-button>
        </ion-col>
      </ion-row>

    </ion-card-content>
  </ion-card>

</ion-content>
