<ion-header>
  <ion-toolbar color="blue" class="ion-text-center">
    <ion-col slot="start">
      <ion-buttons>
        <ion-back-button color="blanco" defaultHref="/" text=""></ion-back-button>
      </ion-buttons>
    </ion-col>
    <ion-col>
      <img routerLink="/inicio" style="height: 55px;padding: 3px;" src="assets/logo.svg" alt="logo">
    </ion-col>
    <ion-col slot="end"></ion-col>
  </ion-toolbar>
  <ion-row class="bordo" class="head" style="background: #3C3967 !important;">
    <ion-col>
      <ion-item>
        <ion-input style="margin-top: -10px !important;" required="true" 
        placeholder="¿Qué producto buscas?" autofocus="true" #txtBusqueda_ id="txtBusqueda"
        type="search" clearInput placeholder="¿Qué producto buscas?" (ionChange)="ObtenerCoincidenciasProductos()"  
        debounce="500" [(ngModel)]="txtBusqueda"
        ></ion-input>
        <ion-icon color="blanco"
          style="background: #A6C038 !important; padding-bottom: 12px !important; width: 2.0em; height: 1.5em;"
          name="md-search" (click)="OnGoProductos()"></ion-icon>
      </ion-item>
    </ion-col>
  </ion-row>
</ion-header>

<ion-content>
  <layer></layer>
  <ion-card style="width: 100%; margin: 0px;" *ngIf="this.productos!=null && this.productos.length > 0">
    <ion-list lines="full"
      style=" height:100% !important; padding: 0px !important;margin: 0px !important; width: 100% !important; ">
        <ion-item button detail="false" mode='md' class="item-ripple" *ngFor="let item of this.productos;" (click)="GoProductos(item)">
          <ion-col size="11" style="position: relative; overflow: hidden;">
            <ion-label style="font-size: 11px;">{{item}}</ion-label>
          </ion-col>
          <ion-col size="1" class="ion-justify-content-end">
            <ion-icon color="greenLow" src="assets/arr.svg" item-end>
            </ion-icon>
          </ion-col>
          <ion-ripple-effect type="bounded"></ion-ripple-effect>
        </ion-item>
    </ion-list>
  </ion-card>

  <ion-card style="width: 100%; margin: 0px; height: 100%; background-color: transparent !important;"
  *ngIf="this.mostrarloading">
    <ion-row>
      <ion-col>
        <ion-progress-bar type="indeterminate" reversed="true" color="blue"></ion-progress-bar>
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-card style="width: 100%; margin: 0px; height: 100%; background-color: #ffffffab !important;"
  *ngIf="this.productos == null || this.productos.length == 0">
    <ion-row style="width: 100%; top: 50%; position: fixed;">
      <ion-col class="ion-text-center">
        <h3 class="vertical-center" >Realize una busqueda de productos</h3>
      </ion-col>
    </ion-row>
  </ion-card>

</ion-content>
