<ion-header>
  <ion-toolbar color="blue" class="ion-text-center">
    <ion-col slot="start">
      <ion-buttons>
        <ion-back-button color="blanco" defaultHref="/" text=""></ion-back-button>
      </ion-buttons>
    </ion-col>
    <ion-col>
      <img routerLink="/inicio" style="height: 55px;padding: 3px;" src="assets/logo.svg" alt="logo">
    </ion-col>
    <ion-col slot="end"></ion-col>
  </ion-toolbar>
  <ion-row class="bordo" class="head" style="background: #3C3967 !important;">
    <ion-col>
      <ion-item>
        <ion-input style="margin-top: -10px !important;" required="true" placeholder="¿Qué producto buscas?" readonly
          (click)="GoBuscarProducto()"></ion-input>
        <ion-icon color="blanco"
          style="background: #A6C038 !important; padding-bottom: 12px !important; width: 2.0em; height: 1.5em;"
          name="md-search"></ion-icon>
      </ion-item>
    </ion-col>
  </ion-row>
</ion-header>

<ion-content style="background-color:blue !important; ">
  <layer></layer>
  <ion-card style=" border-radius: 10px !important;">
    <ion-list lines="full"
      style=" height:100% !important; padding: 0px !important;margin: 0px !important; width: 100% !important; ">
      <ion-item lines="none">
        <ion-col>
          <ion-text color="greenLow" class="ion-text-start" style="font-size: 16px;">Departamentos Principales
          </ion-text>
        </ion-col>
      </ion-item>
      
      <ion-item button detail="false" mode='md' class="item-ripple animated fadeInDown" 
      *ngFor="let item of this.departamentosDestacados;" (click)="GoSubDepartamento(item)">
          <ion-col size="11" style="position: relative; overflow: hidden;">
            <ion-label style="font-size: 14px;">{{item.nombre}}</ion-label>
          </ion-col>
          <ion-col size="1" class="ion-justify-content-end">
            <ion-icon color="greenLow" name="ios-arrow-forward" item-end>
            </ion-icon>
          </ion-col>
          <ion-ripple-effect type="bounded"></ion-ripple-effect>
        </ion-item>


      <div style="background-color: #EBEBEB !important; height:4px !important;">
      </div>
      <ion-item lines="none">
        <ion-text color="greenLow" class="ion-text-start">Todos Los Departamentos</ion-text>
      </ion-item>

      <div>
        <ion-item button detail="false" mode='md' class="item-ripple animated fadeInDown" 
        *ngFor="let item of this.departamentosNoDestacados;" (click)="GoSubDepartamento(item)">
          <ion-col size="11">
            <ion-label style="font-size: 14px;">{{item.nombre}}</ion-label>
          </ion-col>
          <ion-col size="1" class="ion-justify-content-end">
            <ion-icon color="greenLow" name="ios-arrow-forward" item-end></ion-icon>
          </ion-col>
          <ion-ripple-effect type="bounded"></ion-ripple-effect>
        </ion-item>
      </div>
    </ion-list>
  </ion-card>
</ion-content>